{
  "metadata": {
    "apiVersion": "2022-07-26",
    "auth": [
      "aws.auth#sigv4"
    ],
    "endpointPrefix": "elasticgumbyfrontendservice",
    "jsonVersion": "1.0",
    "protocol": "json",
    "protocols": [
      "json"
    ],
    "serviceFullName": "Elastic Gumby Frontend Service",
    "serviceId": "ElasticGumbyFrontend",
    "signatureVersion": "v4",
    "signingName": "elasticgumbyfrontendservice",
    "targetPrefix": "ElasticGumbyFrontEndService",
    "uid": "elasticgumbyfrontend-2022-07-26"
  },
  "operations": {
    "AddCaseCommunication": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddCaseCommunicationRequest"
      },
      "name": "AddCaseCommunication",
      "output": {
        "shape": "AddCaseCommunicationResponse"
      }
    },
    "BatchGetMessage": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetMessageRequest"
      },
      "name": "BatchGetMessage",
      "output": {
        "shape": "BatchGetMessageResponse"
      }
    },
    "BatchGetUserDetails": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetUserDetailsRequest"
      },
      "name": "BatchGetUserDetails",
      "output": {
        "shape": "BatchGetUserDetailsResponse"
      },
      "readonly": true
    },
    "CompleteArtifactUpload": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CompleteArtifactUploadRequest"
      },
      "name": "CompleteArtifactUpload",
      "output": {
        "shape": "CompleteArtifactUploadResponse"
      }
    },
    "CreateArtifactDownloadUrl": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateArtifactDownloadUrlRequest"
      },
      "name": "CreateArtifactDownloadUrl",
      "output": {
        "shape": "CreateArtifactDownloadUrlResponse"
      }
    },
    "CreateArtifactUploadUrl": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "FileAlreadyExistsException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateArtifactUploadUrlRequest"
      },
      "name": "CreateArtifactUploadUrl",
      "output": {
        "shape": "CreateArtifactUploadUrlResponse"
      }
    },
    "CreateAssetDownloadUrl": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAssetDownloadUrlRequest"
      },
      "name": "CreateAssetDownloadUrl",
      "output": {
        "shape": "CreateAssetDownloadUrlResponse"
      }
    },
    "CreateConnector": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateConnectorRequest"
      },
      "name": "CreateConnector",
      "output": {
        "shape": "CreateConnectorResponse"
      }
    },
    "CreateFeedback": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFeedbackRequest"
      },
      "name": "CreateFeedback",
      "output": {
        "shape": "CreateFeedbackResponse"
      }
    },
    "CreateJob": {
      "documentation": "<p>API used to create a job that is associated to a workspace. This does not execute the job.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateJobRequest"
      },
      "name": "CreateJob",
      "output": {
        "shape": "CreateJobResponse"
      }
    },
    "CreateSession": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSessionRequest"
      },
      "name": "CreateSession",
      "output": {
        "shape": "CreateSessionResponse"
      }
    },
    "CreateSupportCase": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSupportCaseRequest"
      },
      "name": "CreateSupportCase",
      "output": {
        "shape": "CreateSupportCaseResponse"
      }
    },
    "CreateWorkspace": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateWorkspaceRequest"
      },
      "name": "CreateWorkspace",
      "output": {
        "shape": "CreateWorkspaceResponse"
      }
    },
    "DeleteConnector": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConnectorRequest"
      },
      "name": "DeleteConnector",
      "output": {
        "shape": "DeleteConnectorResponse"
      }
    },
    "DeleteJob": {
      "documentation": "<p>API used to delete an existing job and all related data.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteJobRequest"
      },
      "name": "DeleteJob",
      "output": {
        "shape": "DeleteJobResponse"
      }
    },
    "DeleteSelfRoleMappings": {
      "documentation": "<p>Removes a caller user from the workspace (self-removal).</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSelfRoleMappingsRequest"
      },
      "name": "DeleteSelfRoleMappings",
      "output": {
        "shape": "DeleteSelfRoleMappingsResponse"
      }
    },
    "DeleteUserRoleMappings": {
      "documentation": "<p>Removes a target user from a workspace. The target user cannot be the caller.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteUserRoleMappingsRequest"
      },
      "name": "DeleteUserRoleMappings",
      "output": {
        "shape": "DeleteUserRoleMappingsResponse"
      }
    },
    "DeleteWorkspace": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteWorkspaceRequest"
      },
      "name": "DeleteWorkspace",
      "output": {
        "shape": "DeleteWorkspaceResponse"
      }
    },
    "DetectIsAllowedForOperation": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectIsAllowedForOperationRequest"
      },
      "name": "DetectIsAllowedForOperation",
      "output": {
        "shape": "DetectIsAllowedForOperationResponse"
      },
      "readonly": true
    },
    "GetConnector": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConnectorRequest"
      },
      "name": "GetConnector",
      "output": {
        "shape": "GetConnectorResponse"
      }
    },
    "GetFeedbackQuestions": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetFeedbackQuestionsRequest"
      },
      "name": "GetFeedbackQuestions",
      "output": {
        "shape": "GetFeedbackQuestionsResponse"
      },
      "readonly": true
    },
    "GetHitlTask": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetHitlTaskRequest"
      },
      "name": "GetHitlTask",
      "output": {
        "shape": "GetHitlTaskResponse"
      },
      "readonly": true
    },
    "GetJob": {
      "documentation": "<p>API used to get details about a job.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "shape": "GetJobResponse"
      }
    },
    "GetLoginRedirectUri": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLoginRedirectUriRequest"
      },
      "name": "GetLoginRedirectUri",
      "output": {
        "shape": "GetLoginRedirectUriResponse"
      },
      "readonly": true
    },
    "GetUserBackgroundSession": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserBackgroundSessionRequest"
      },
      "name": "GetUserBackgroundSession",
      "output": {
        "shape": "GetUserBackgroundSessionResponse"
      },
      "readonly": true
    },
    "GetUserDetails": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserDetailsRequest"
      },
      "name": "GetUserDetails",
      "output": {
        "shape": "GetUserDetailsResponse"
      },
      "readonly": true
    },
    "GetUserPreferences": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserPreferencesRequest"
      },
      "name": "GetUserPreferences",
      "output": {
        "shape": "GetUserPreferencesResponse"
      },
      "readonly": true
    },
    "GetWorkspace": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkspaceRequest"
      },
      "name": "GetWorkspace",
      "output": {
        "shape": "GetWorkspaceResponse"
      },
      "readonly": true
    },
    "ListAgents": {
      "documentation": "<p>Lists agents available for the specified account.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAgentsRequest"
      },
      "name": "ListAgents",
      "output": {
        "shape": "ListAgentsResponse"
      }
    },
    "ListArtifacts": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListArtifactsRequest"
      },
      "name": "ListArtifacts",
      "output": {
        "shape": "ListArtifactsResponse"
      }
    },
    "ListAvailableProfiles": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAvailableProfilesRequest"
      },
      "name": "ListAvailableProfiles",
      "output": {
        "shape": "ListAvailableProfilesResponse"
      },
      "readonly": true
    },
    "ListConnectors": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListConnectorsRequest"
      },
      "name": "ListConnectors",
      "output": {
        "shape": "ListConnectorsResponse"
      }
    },
    "ListHitlTasks": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListHitlTasksRequest"
      },
      "name": "ListHitlTasks",
      "output": {
        "shape": "ListHitlTasksResponse"
      },
      "readonly": true
    },
    "ListJobPlanSteps": {
      "documentation": "<p>This API can be used to either list all the job plan steps, top-level steps only, or steps under a parent step.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListJobPlanStepsRequest"
      },
      "name": "ListJobPlanSteps",
      "output": {
        "shape": "ListJobPlanStepsResponse"
      }
    },
    "ListJobs": {
      "documentation": "<p>API used to list jobs within a workspace.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "shape": "ListJobsResponse"
      }
    },
    "ListMessages": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListMessagesRequest"
      },
      "name": "ListMessages",
      "output": {
        "shape": "ListMessagesResponse"
      },
      "readonly": true
    },
    "ListPlanUpdates": {
      "documentation": "<p>API used to list updates that have been made to the job plan since the timestamp passed in the request.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPlanUpdatesRequest"
      },
      "name": "ListPlanUpdates",
      "output": {
        "shape": "ListPlanUpdatesResponse"
      }
    },
    "ListSuggestions": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSuggestionsRequest"
      },
      "name": "ListSuggestions",
      "output": {
        "shape": "ListSuggestionsResponse"
      },
      "readonly": true
    },
    "ListUserRoleMappings": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUserRoleMappingsRequest"
      },
      "name": "ListUserRoleMappings",
      "output": {
        "shape": "ListUserRoleMappingsResponse"
      },
      "readonly": true
    },
    "ListWorklogs": {
      "documentation": "<p>API for getting agent/HITL/job worklogs</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWorklogsRequest"
      },
      "name": "ListWorklogs",
      "output": {
        "shape": "ListWorklogsResponse"
      }
    },
    "ListWorkspaces": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWorkspacesRequest"
      },
      "name": "ListWorkspaces",
      "output": {
        "shape": "ListWorkspacesResponse"
      },
      "readonly": true
    },
    "PutUserPreferences": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutUserPreferencesRequest"
      },
      "name": "PutUserPreferences",
      "output": {
        "shape": "PutUserPreferencesResponse"
      }
    },
    "PutUserRoleMappings": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutUserRoleMappingsRequest"
      },
      "name": "PutUserRoleMappings",
      "output": {
        "shape": "PutUserRoleMappingsResponse"
      }
    },
    "ResolveSupportCase": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResolveSupportCaseRequest"
      },
      "name": "ResolveSupportCase",
      "output": {
        "shape": "ResolveSupportCaseResponse"
      }
    },
    "RevokeSession": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeSessionRequest"
      },
      "name": "RevokeSession",
      "output": {
        "shape": "RevokeSessionResponse"
      }
    },
    "RevokeUserBackgroundSession": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeUserBackgroundSessionRequest"
      },
      "name": "RevokeUserBackgroundSession",
      "output": {
        "shape": "RevokeUserBackgroundSessionResponse"
      }
    },
    "SearchUsers": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchUsersRequest"
      },
      "name": "SearchUsers",
      "output": {
        "shape": "SearchUsersResponse"
      },
      "readonly": true
    },
    "SearchUsersTypeahead": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchUsersTypeaheadRequest"
      },
      "name": "SearchUsersTypeahead",
      "output": {
        "shape": "SearchUsersTypeaheadResponse"
      },
      "readonly": true
    },
    "SendMessage": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "SendMessageRequest"
      },
      "name": "SendMessage",
      "output": {
        "shape": "SendMessageResponse"
      }
    },
    "StartJob": {
      "documentation": "<p>API used to invoke the orchestrator agent, which starts the execution of a job.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StartJobRequest"
      },
      "name": "StartJob",
      "output": {
        "shape": "StartJobResponse"
      }
    },
    "StopJob": {
      "documentation": "<p>API used to stop the execution of a job.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StopJobRequest"
      },
      "name": "StopJob",
      "output": {
        "shape": "StopJobResponse"
      }
    },
    "SubmitCriticalHitlTask": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "SubmitCriticalHitlTaskRequest"
      },
      "name": "SubmitCriticalHitlTask",
      "output": {
        "shape": "SubmitCriticalHitlTaskResponse"
      }
    },
    "SubmitStandardHitlTask": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "SubmitStandardHitlTaskRequest"
      },
      "name": "SubmitStandardHitlTask",
      "output": {
        "shape": "SubmitStandardHitlTaskResponse"
      }
    },
    "UpdateHitlTask": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateHitlTaskRequest"
      },
      "name": "UpdateHitlTask",
      "output": {
        "shape": "UpdateHitlTaskResponse"
      }
    },
    "UpdateJob": {
      "documentation": "<p>This API is called to update the objective and/or name associated with an already created job.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateJobRequest"
      },
      "name": "UpdateJob",
      "output": {
        "shape": "UpdateJobResponse"
      }
    },
    "UpdateWorkspace": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateWorkspaceRequest"
      },
      "name": "UpdateWorkspace",
      "output": {
        "shape": "UpdateWorkspaceResponse"
      }
    },
    "VerifySession": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "CustomerConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DryRunOperationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "VerifySessionRequest"
      },
      "name": "VerifySession",
      "output": {
        "shape": "VerifySessionResponse"
      },
      "readonly": true
    }
  },
  "shapes": {
    "AccessControl": {
      "enum": [
        "ENABLED",
        "DISABLED",
        "FORCE_DISABLED"
      ],
      "type": "string"
    },
    "AccessControlType": {
      "enum": [
        "ENABLED_AGENTS",
        "ALL_AGENTS"
      ],
      "type": "string"
    },
    "AccessControlTypeFilter": {
      "members": {
        "accessControlType": {
          "shape": "AccessControlType"
        }
      },
      "required": [
        "accessControlType"
      ],
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>Returns HTTP status code 403</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "reason": {
          "shape": "AccessDeniedReason"
        }
      },
      "type": "structure"
    },
    "AccessDeniedReason": {
      "enum": [
        "NOT_ALLOWLISTED",
        "INVALID_SESSION",
        "MISSING_SUBSCRIPTION",
        "UNAUTHORIZED"
      ],
      "type": "string"
    },
    "AccountConnection": {
      "members": {
        "awsAccountConnection": {
          "shape": "AwsAccountConnection"
        }
      },
      "type": "structure",
      "union": true
    },
    "AccountConnectionRequest": {
      "members": {
        "awsAccountConnectionRequest": {
          "shape": "AwsAccountConnectionRequest"
        }
      },
      "type": "structure",
      "union": true
    },
    "AccountConnectionStatus": {
      "enum": [
        "PENDING",
        "ACTIVE",
        "REJECTED"
      ],
      "type": "string"
    },
    "AccountId": {
      "documentation": "<p>Represents the AWS account ID of the customer</p>",
      "pattern": "[0-9]{12}",
      "type": "string"
    },
    "AccountIdString": {
      "max": 12,
      "min": 12,
      "pattern": "[0-9]+",
      "type": "string"
    },
    "Action": {
      "enum": [
        "APPROVE",
        "REJECT"
      ],
      "type": "string"
    },
    "ActionType": {
      "enum": [
        "SELECT",
        "INVOKE",
        "GROUP"
      ],
      "type": "string"
    },
    "AddCaseCommunicationRequest": {
      "members": {
        "caseId": {
          "shape": "SupportCaseId"
        },
        "communicationBody": {
          "shape": "SupportCaseCommunicationBody"
        },
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "jobId",
        "caseId",
        "communicationBody"
      ],
      "type": "structure"
    },
    "AddCaseCommunicationResponse": {
      "members": {
        "result": {
          "shape": "Boolean"
        }
      },
      "required": [
        "result"
      ],
      "type": "structure"
    },
    "AgentConfigurationAvailability": {
      "enum": [
        "RUNTIME_CONFIGURATION_AVAILABLE",
        "NEEDS_RUNTIME_CONFIGURATION",
        "ANY"
      ],
      "type": "string"
    },
    "AgentDependencyList": {
      "max": 5,
      "member": {
        "shape": "AgentName"
      },
      "min": 0,
      "type": "list"
    },
    "AgentFeatures": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "AgentMetadataSummary": {
      "members": {
        "accountAccess": {
          "shape": "AccessControl"
        },
        "agentConfigurationAvailability": {
          "shape": "AgentConfigurationAvailability"
        },
        "customerConfigurationRequired": {
          "shape": "Boolean"
        },
        "customerConfiguredAgentDependencies": {
          "shape": "AgentDependencyList"
        },
        "description": {
          "shape": "String"
        },
        "jobOrchestrator": {
          "shape": "Boolean"
        },
        "jobOrchestratorMetadata": {
          "shape": "JobOrchestratorMetadata"
        },
        "marketplaceMetadata": {
          "shape": "MarketplaceMetadata"
        },
        "name": {
          "shape": "AgentName"
        },
        "ownerName": {
          "shape": "String"
        },
        "ownerType": {
          "shape": "String"
        },
        "type": {
          "shape": "AgentType"
        },
        "visibility": {
          "documentation": "<p>Agent visibility status configured by the partner</p>",
          "shape": "AgentVisibility"
        }
      },
      "type": "structure"
    },
    "AgentMetadataSummaryList": {
      "max": 10,
      "member": {
        "shape": "AgentMetadataSummary"
      },
      "min": 0,
      "type": "list"
    },
    "AgentName": {
      "pattern": "[a-zA-Z0-9_-]+",
      "type": "string"
    },
    "AgentType": {
      "enum": [
        "ORCHESTRATOR_AGENT",
        "SUB_AGENT"
      ],
      "type": "string"
    },
    "AgentTypeFilter": {
      "members": {
        "agentType": {
          "shape": "AgentType"
        }
      },
      "required": [
        "agentType"
      ],
      "type": "structure"
    },
    "AgentVisibility": {
      "enum": [
        "PUBLIC",
        "RESTRICTED"
      ],
      "type": "string"
    },
    "AllowedStatus": {
      "enum": [
        "ALLOWED",
        "DENIED"
      ],
      "type": "string"
    },
    "Artifact": {
      "members": {
        "artifactCreatedTimestamp": {
          "shape": "Timestamp"
        },
        "artifactExpiryTimestamp": {
          "shape": "Timestamp"
        },
        "artifactId": {
          "shape": "ArtifactIdentifier"
        },
        "artifactType": {
          "shape": "ArtifactType"
        },
        "fileMetadata": {
          "shape": "FileMetadata"
        },
        "jobId": {
          "shape": "UUID"
        },
        "planStepId": {
          "shape": "StepId"
        },
        "sizeInBytes": {
          "shape": "Long"
        },
        "storedInAtxBucket": {
          "documentation": "<p>Whether the artifact is stored in an ATX-managed bucket</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "artifactId",
        "artifactType",
        "artifactCreatedTimestamp",
        "artifactExpiryTimestamp"
      ],
      "type": "structure"
    },
    "ArtifactIdentifier": {
      "documentation": "<p>Identifies an artifact by either a UUID or an S3 object key</p>",
      "max": 1024,
      "min": 1,
      "pattern": ".*[^/]",
      "type": "string"
    },
    "ArtifactReference": {
      "members": {
        "artifactId": {
          "shape": "ArtifactIdentifier"
        },
        "artifactType": {
          "shape": "ArtifactType"
        }
      },
      "type": "structure",
      "union": true
    },
    "ArtifactReferences": {
      "max": 10,
      "member": {
        "shape": "ChatArtifactReference"
      },
      "min": 1,
      "type": "list"
    },
    "ArtifactType": {
      "members": {
        "categoryType": {
          "shape": "CategoryType"
        },
        "fileType": {
          "shape": "FileType"
        },
        "schemaType": {
          "shape": "SchemaType"
        }
      },
      "required": [
        "categoryType",
        "fileType"
      ],
      "type": "structure"
    },
    "Artifacts": {
      "member": {
        "shape": "Artifact"
      },
      "type": "list"
    },
    "Asset": {
      "members": {
        "assetKey": {
          "documentation": "<p>Asset object's path in customer's bucket.</p>",
          "shape": "String"
        },
        "createdTimestamp": {
          "shape": "Long"
        },
        "sizeInBytes": {
          "shape": "Long"
        }
      },
      "required": [
        "assetKey"
      ],
      "type": "structure"
    },
    "Assets": {
      "member": {
        "shape": "Asset"
      },
      "type": "list"
    },
    "Attachments": {
      "members": {
        "artifactReferences": {
          "shape": "ArtifactReferences"
        }
      },
      "type": "structure"
    },
    "AttributeKey": {
      "max": 10,
      "min": 1,
      "type": "string"
    },
    "AttributeValue": {
      "max": 50,
      "min": 1,
      "type": "string"
    },
    "AwsAccountConnection": {
      "members": {
        "accountId": {
          "shape": "AccountIdString"
        },
        "connectionToken": {
          "shape": "UUID"
        },
        "createdDate": {
          "shape": "Timestamp"
        },
        "expirationDate": {
          "shape": "Timestamp"
        },
        "roleArn": {
          "shape": "String"
        },
        "status": {
          "shape": "AccountConnectionStatus"
        }
      },
      "type": "structure"
    },
    "AwsAccountConnectionRequest": {
      "members": {
        "awsAccountId": {
          "shape": "AccountIdString"
        }
      },
      "type": "structure"
    },
    "BackgroundSessionStatus": {
      "pattern": "(ENABLED|DISABLED)",
      "type": "string"
    },
    "BatchGetMessageError": {
      "members": {
        "errorCode": {
          "documentation": "<p>A code representing the type of error encountered</p>",
          "shape": "String"
        },
        "errorMessage": {
          "documentation": "<p>A message describing the error encountered</p>",
          "shape": "BatchGetMessageErrorMessage"
        },
        "messageId": {
          "documentation": "<p>An identifier for the message that encountered an error during retrieval</p>",
          "shape": "UUID"
        }
      },
      "required": [
        "messageId",
        "errorCode",
        "errorMessage"
      ],
      "type": "structure"
    },
    "BatchGetMessageErrorMessage": {
      "sensitive": true,
      "type": "string"
    },
    "BatchGetMessageErrors": {
      "member": {
        "shape": "BatchGetMessageError"
      },
      "type": "list"
    },
    "BatchGetMessageRequest": {
      "members": {
        "messageIds": {
          "documentation": "<p>A list of identifiers for messages being requested</p>",
          "shape": "BatchGetMessageRequestMessageIdsList"
        },
        "workspaceId": {
          "documentation": "<p>used to perform AuthZ based on workspaceId in the chat.</p>",
          "shape": "UUID"
        }
      },
      "required": [
        "messageIds"
      ],
      "type": "structure"
    },
    "BatchGetMessageRequestMessageIdsList": {
      "max": 100,
      "member": {
        "shape": "UUID"
      },
      "min": 1,
      "type": "list"
    },
    "BatchGetMessageResponse": {
      "members": {
        "errors": {
          "documentation": "<p>A list of errors encountered during the batch retrieval operation</p>",
          "shape": "BatchGetMessageErrors"
        },
        "messages": {
          "documentation": "<p>A list of messages retrieved successfully, returned in the order requested</p>",
          "shape": "Messages"
        }
      },
      "required": [
        "messages",
        "errors"
      ],
      "type": "structure"
    },
    "BatchGetUserDetailsRequest": {
      "members": {
        "userIdList": {
          "shape": "UserIdList"
        }
      },
      "required": [
        "userIdList"
      ],
      "type": "structure"
    },
    "BatchGetUserDetailsResponse": {
      "members": {
        "failedUserDetails": {
          "shape": "FailedUserDetails"
        },
        "successfulUserDetails": {
          "shape": "SuccessfulUserDetails"
        }
      },
      "required": [
        "successfulUserDetails",
        "failedUserDetails"
      ],
      "type": "structure"
    },
    "BlockingType": {
      "enum": [
        "BLOCKING",
        "NON_BLOCKING"
      ],
      "type": "string"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "Categories": {
      "member": {
        "shape": "Category"
      },
      "type": "list"
    },
    "Category": {
      "enum": [
        "TOOL_APPROVAL",
        "REGULAR"
      ],
      "type": "string"
    },
    "CategoryType": {
      "documentation": "<p>The categoryType refers to the context or purpose of the data within a workflow</p>",
      "enum": [
        "CUSTOMER_OUTPUT",
        "HITL_FROM_USER",
        "CUSTOMER_INPUT",
        "PLAN_STEP_SUMMARY"
      ],
      "type": "string"
    },
    "ChatArtifactMetadata": {
      "members": {
        "artifactId": {
          "shape": "ArtifactIdentifier"
        }
      },
      "type": "structure"
    },
    "ChatArtifactReference": {
      "members": {
        "artifactId": {
          "shape": "ArtifactIdentifier"
        },
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "artifactId",
        "workspaceId",
        "jobId"
      ],
      "type": "structure"
    },
    "ChatConnectors": {
      "member": {
        "shape": "ConnectorMetadata"
      },
      "type": "list"
    },
    "ChatFeedback": {
      "members": {
        "feedback": {
          "shape": "TextResponse"
        },
        "feedbackReasons": {
          "shape": "ChatFeedbackReasons"
        },
        "feedbackType": {
          "shape": "ChatFeedbackType"
        },
        "metadata": {
          "shape": "ChatFeedbackMetadata"
        }
      },
      "required": [
        "feedbackType",
        "metadata"
      ],
      "type": "structure"
    },
    "ChatFeedbackMetadata": {
      "members": {
        "hitlTaskId": {
          "shape": "UUID"
        },
        "jobId": {
          "shape": "UUID"
        },
        "jobStepId": {
          "shape": "StepId"
        },
        "messageId": {
          "shape": "UUID"
        }
      },
      "required": [
        "messageId"
      ],
      "type": "structure"
    },
    "ChatFeedbackReason": {
      "enum": [
        "Harmful",
        "Not accurate",
        "Not useful or incomplete",
        "Something else"
      ],
      "type": "string"
    },
    "ChatFeedbackReasons": {
      "member": {
        "shape": "ChatFeedbackReason"
      },
      "type": "list"
    },
    "ChatFeedbackType": {
      "enum": [
        "POSITIVE",
        "NEGATIVE"
      ],
      "type": "string"
    },
    "ChatHitlTaskMetadata": {
      "members": {
        "focusState": {
          "shape": "FocusState"
        },
        "hitlTaskId": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ChatJobMetadata": {
      "members": {
        "artifact": {
          "shape": "ChatArtifactMetadata"
        },
        "focusState": {
          "shape": "FocusState"
        },
        "hitl": {
          "shape": "ChatHitlTaskMetadata"
        },
        "jobId": {
          "shape": "UUID"
        },
        "worklog": {
          "shape": "ChatWorklogStepMetadata"
        }
      },
      "type": "structure"
    },
    "ChatJobs": {
      "member": {
        "shape": "ChatJobMetadata"
      },
      "type": "list"
    },
    "ChatStepId": {
      "max": 41,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+",
      "type": "string"
    },
    "ChatWorklogStepMetadata": {
      "members": {
        "focusState": {
          "shape": "FocusState"
        },
        "stepId": {
          "shape": "ChatStepId"
        }
      },
      "type": "structure"
    },
    "CompleteArtifactUploadRequest": {
      "members": {
        "artifactId": {
          "shape": "ArtifactIdentifier"
        },
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "artifactId"
      ],
      "type": "structure"
    },
    "CompleteArtifactUploadResponse": {
      "members": {
        "artifact": {
          "shape": "Artifact"
        }
      },
      "required": [
        "artifact"
      ],
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>Returns HTTP status code 409</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ConnectorConfiguration": {
      "key": {
        "shape": "NonBlankString"
      },
      "type": "map",
      "value": {
        "shape": "NonBlankString"
      }
    },
    "ConnectorDescription": {
      "sensitive": true,
      "type": "string"
    },
    "ConnectorList": {
      "member": {
        "shape": "ConnectorSummaryData"
      },
      "type": "list"
    },
    "ConnectorMetadata": {
      "members": {
        "connectorId": {
          "shape": "UUID"
        },
        "focusState": {
          "shape": "FocusState"
        }
      },
      "type": "structure"
    },
    "ConnectorSummaryData": {
      "members": {
        "connectorId": {
          "shape": "UUID"
        },
        "connectorName": {
          "shape": "NonBlankString"
        },
        "connectorType": {
          "shape": "NonBlankString"
        },
        "description": {
          "shape": "ConnectorDescription"
        },
        "targetRegions": {
          "shape": "RegionList"
        }
      },
      "type": "structure"
    },
    "ContentDigest": {
      "members": {
        "Sha256": {
          "shape": "Sha256Checksum"
        }
      },
      "type": "structure",
      "union": true
    },
    "CreateArtifactDownloadUrlRequest": {
      "members": {
        "artifactId": {
          "shape": "ArtifactIdentifier"
        },
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "artifactId"
      ],
      "type": "structure"
    },
    "CreateArtifactDownloadUrlResponse": {
      "members": {
        "artifact": {
          "shape": "Artifact"
        },
        "artifactType": {
          "shape": "ArtifactType"
        },
        "requestHeaders": {
          "shape": "RequestHeaders"
        },
        "s3PreSignedUrl": {
          "shape": "S3Url"
        },
        "s3UrlExpiryTimestamp": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "s3PreSignedUrl",
        "s3UrlExpiryTimestamp",
        "artifactType",
        "requestHeaders"
      ],
      "type": "structure"
    },
    "CreateArtifactUploadUrlRequest": {
      "members": {
        "artifactReference": {
          "shape": "ArtifactReference"
        },
        "connectorId": {
          "documentation": "<p>Unique identifier for a connector</p>",
          "shape": "UUID"
        },
        "contentDigest": {
          "shape": "ContentDigest"
        },
        "fileMetadata": {
          "shape": "FileMetadata"
        },
        "jobId": {
          "shape": "UUID"
        },
        "planStepId": {
          "shape": "StepId"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "contentDigest",
        "artifactReference"
      ],
      "type": "structure"
    },
    "CreateArtifactUploadUrlResponse": {
      "members": {
        "artifactId": {
          "shape": "ArtifactIdentifier"
        },
        "requestHeaders": {
          "shape": "RequestHeaders"
        },
        "s3PreSignedUrl": {
          "shape": "S3Url"
        },
        "s3UrlExpiryTimestamp": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "s3PreSignedUrl",
        "s3UrlExpiryTimestamp",
        "artifactId",
        "requestHeaders"
      ],
      "type": "structure"
    },
    "CreateAssetDownloadUrlRequest": {
      "members": {
        "assetKey": {
          "shape": "CreateAssetDownloadUrlRequestAssetKeyString"
        },
        "connectorId": {
          "shape": "UUID"
        },
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "connectorId",
        "assetKey"
      ],
      "type": "structure"
    },
    "CreateAssetDownloadUrlRequestAssetKeyString": {
      "max": 1024,
      "min": 1,
      "pattern": "([a-zA-Z0-9._()!*' $@=;:+,?&-]+)(/[a-zA-Z0-9._()!*' $@=;:+,?&-]+)*",
      "type": "string"
    },
    "CreateAssetDownloadUrlResponse": {
      "members": {
        "requestHeaders": {
          "shape": "RequestHeaders"
        },
        "s3PreSignedUrl": {
          "shape": "S3Url"
        },
        "s3UrlExpiryTimestamp": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "s3PreSignedUrl",
        "s3UrlExpiryTimestamp",
        "requestHeaders"
      ],
      "type": "structure"
    },
    "CreateConnectorRequest": {
      "members": {
        "accountConnectionRequest": {
          "shape": "AccountConnectionRequest"
        },
        "configuration": {
          "shape": "ConnectorConfiguration"
        },
        "connectorName": {
          "shape": "NonBlankString"
        },
        "connectorType": {
          "shape": "NonBlankString"
        },
        "description": {
          "shape": "ConnectorDescription"
        },
        "idempotencyToken": {
          "idempotencyToken": true,
          "shape": "UUID"
        },
        "targetRegions": {
          "shape": "RegionList"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "connectorName",
        "connectorType",
        "accountConnectionRequest",
        "configuration"
      ],
      "type": "structure"
    },
    "CreateConnectorResponse": {
      "members": {
        "accountConnection": {
          "shape": "AccountConnection"
        },
        "configuration": {
          "shape": "ConnectorConfiguration"
        },
        "connectorId": {
          "shape": "UUID"
        },
        "connectorName": {
          "shape": "NonBlankString"
        },
        "connectorType": {
          "shape": "NonBlankString"
        },
        "description": {
          "shape": "String"
        },
        "targetRegions": {
          "shape": "RegionList"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "type": "structure"
    },
    "CreateFeedbackRequest": {
      "members": {
        "feedback": {
          "shape": "Feedback"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "feedback"
      ],
      "type": "structure"
    },
    "CreateFeedbackResponse": {
      "members": {},
      "type": "structure"
    },
    "CreateJobRequest": {
      "members": {
        "executionPlanId": {
          "documentation": "<p>Optional. Plan this job is executing a step of.</p>",
          "shape": "UUID"
        },
        "idempotencyToken": {
          "idempotencyToken": true,
          "shape": "UUID"
        },
        "intent": {
          "shape": "String"
        },
        "jobName": {
          "shape": "JobName"
        },
        "jobType": {
          "shape": "JobType"
        },
        "objective": {
          "shape": "JobObjective"
        },
        "orchestratorAgent": {
          "shape": "OrchestratorAgent"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "objective",
        "jobName",
        "intent"
      ],
      "type": "structure"
    },
    "CreateJobResponse": {
      "members": {
        "jobId": {
          "shape": "UUID"
        },
        "status": {
          "shape": "JobStatus"
        }
      },
      "required": [
        "jobId",
        "status"
      ],
      "type": "structure"
    },
    "CreateSessionRequest": {
      "members": {
        "loginQueryParameters": {
          "shape": "LoginQueryParametersMap"
        }
      },
      "required": [
        "loginQueryParameters"
      ],
      "type": "structure"
    },
    "CreateSessionResponse": {
      "members": {
        "state": {
          "shape": "State"
        },
        "userId": {
          "shape": "UserId"
        }
      },
      "required": [
        "userId"
      ],
      "type": "structure"
    },
    "CreateSupportCaseRequest": {
      "members": {
        "categoryCode": {
          "shape": "SupportCaseCategoryCode"
        },
        "communicationBody": {
          "shape": "SupportCaseCommunicationBody"
        },
        "jobId": {
          "shape": "UUID"
        },
        "serviceCode": {
          "shape": "SupportCaseServiceCode"
        },
        "severityCode": {
          "shape": "SupportCaseSeverityCode"
        },
        "subject": {
          "shape": "SupportCaseSubject"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "jobId",
        "subject",
        "communicationBody"
      ],
      "type": "structure"
    },
    "CreateSupportCaseResponse": {
      "members": {
        "caseId": {
          "shape": "SupportCaseId"
        }
      },
      "required": [
        "caseId"
      ],
      "type": "structure"
    },
    "CreateWorkspaceRequest": {
      "members": {
        "description": {
          "shape": "WorkspaceDescriptionString"
        },
        "idempotencyToken": {
          "idempotencyToken": true,
          "shape": "UUID"
        },
        "name": {
          "shape": "WorkspaceNameString"
        }
      },
      "type": "structure"
    },
    "CreateWorkspaceResponse": {
      "members": {
        "workspace": {
          "shape": "Workspace"
        }
      },
      "required": [
        "workspace"
      ],
      "type": "structure"
    },
    "CustomerConfigurationException": {
      "exception": true,
      "members": {
        "errorCode": {
          "shape": "CustomerConfigurationExceptionErrorCode"
        },
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "errorCode",
        "message"
      ],
      "type": "structure"
    },
    "CustomerConfigurationExceptionErrorCode": {
      "enum": [
        "ACCESS_DENIED",
        "NOT_FOUND"
      ],
      "type": "string"
    },
    "DeleteConnectorRequest": {
      "members": {
        "connectorId": {
          "documentation": "<p>A connector can be assigned only to one workspace</p>",
          "shape": "UUID"
        },
        "workspaceId": {
          "documentation": "<p>This is the workspace with the connector, the workspace is not deleted, only the connector is deleted</p>",
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "connectorId"
      ],
      "type": "structure"
    },
    "DeleteConnectorResponse": {
      "members": {
        "connectorId": {
          "documentation": "<p>Deleted connector-id</p>",
          "shape": "UUID"
        },
        "workspaceId": {
          "documentation": "<p>Workspace-id of deleted connector</p>",
          "shape": "UUID"
        }
      },
      "type": "structure"
    },
    "DeleteJobRequest": {
      "members": {
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "jobId"
      ],
      "type": "structure"
    },
    "DeleteJobResponse": {
      "members": {
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "jobId"
      ],
      "type": "structure"
    },
    "DeleteSelfRoleMappingsRequest": {
      "members": {
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId"
      ],
      "type": "structure"
    },
    "DeleteSelfRoleMappingsResponse": {
      "members": {
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId"
      ],
      "type": "structure"
    },
    "DeleteUserRoleMappingsRequest": {
      "members": {
        "userId": {
          "shape": "UserId"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "userId"
      ],
      "type": "structure"
    },
    "DeleteUserRoleMappingsResponse": {
      "members": {
        "userId": {
          "shape": "UserId"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "userId"
      ],
      "type": "structure"
    },
    "DeleteWorkspaceRequest": {
      "members": {
        "id": {
          "shape": "UUID"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteWorkspaceResponse": {
      "members": {
        "id": {
          "shape": "UUID"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "Description": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "DetectIsAllowedForOperationRequest": {
      "members": {
        "operationName": {
          "shape": "OperationNameString"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "operationName"
      ],
      "type": "structure"
    },
    "DetectIsAllowedForOperationResponse": {
      "members": {
        "allowed": {
          "shape": "AllowedStatus"
        }
      },
      "required": [
        "allowed"
      ],
      "type": "structure"
    },
    "DisplayName": {
      "max": 1024,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  \u3000]+",
      "sensitive": true,
      "type": "string"
    },
    "DryRunOperationException": {
      "documentation": "<p>Returns HTTP status code 400</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Email": {
      "max": 1024,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  \u3000]+",
      "sensitive": true,
      "type": "string"
    },
    "EnabledState": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "ErrorReason": {
      "enum": [
        "NOT_FOUND",
        "NOT_SUBSCRIBED"
      ],
      "type": "string"
    },
    "ExecutionPlanFilter": {
      "documentation": "<p>Filter results to jobs belonging to a specific execution plan.</p>",
      "members": {
        "executionPlanId": {
          "shape": "UUID"
        }
      },
      "required": [
        "executionPlanId"
      ],
      "type": "structure"
    },
    "FailedUserDetails": {
      "member": {
        "shape": "FailedUserSummary"
      },
      "type": "list"
    },
    "FailedUserSummary": {
      "members": {
        "errorReason": {
          "shape": "ErrorReason"
        },
        "userId": {
          "shape": "UserId"
        }
      },
      "type": "structure"
    },
    "FamilyName": {
      "max": 1024,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  \u3000]+",
      "sensitive": true,
      "type": "string"
    },
    "Feedback": {
      "members": {
        "chatFeedback": {
          "shape": "ChatFeedback"
        },
        "globalFeedback": {
          "shape": "GlobalFeedback"
        },
        "jobFeedback": {
          "shape": "JobFeedback"
        }
      },
      "type": "structure",
      "union": true
    },
    "FeedbackAnswerType": {
      "enum": [
        "TEXT",
        "RATING"
      ],
      "type": "string"
    },
    "FeedbackQuestion": {
      "members": {
        "answerType": {
          "shape": "FeedbackAnswerType"
        },
        "isRequired": {
          "shape": "Boolean"
        },
        "questionId": {
          "shape": "UUID"
        },
        "questionText": {
          "shape": "QuestionText"
        }
      },
      "type": "structure"
    },
    "FeedbackQuestions": {
      "member": {
        "shape": "FeedbackQuestion"
      },
      "type": "list"
    },
    "FileAlreadyExistsException": {
      "documentation": "<p>Returns HTTP status code 409</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "FileMetadata": {
      "members": {
        "description": {
          "shape": "FileMetadataDescriptionString"
        },
        "path": {
          "shape": "FilePath"
        }
      },
      "required": [
        "path"
      ],
      "type": "structure"
    },
    "FileMetadataDescriptionString": {
      "max": 4000,
      "min": 1,
      "pattern": "[^@#$%^&*<>]*",
      "type": "string"
    },
    "FilePath": {
      "documentation": "<p>Complete file path including directory and filename. Accepts any valid UTF-8 string per S3 object key constraints. Max length is constrained to satisfy 1024 S3 character limit with consideration for the internal file path structure</p>",
      "max": 838,
      "min": 1,
      "pattern": ".*[^/]",
      "type": "string"
    },
    "FileType": {
      "enum": [
        "JSON",
        "ZIP",
        "PDF",
        "HTML",
        "TXT",
        "MARKDOWN",
        "CSV",
        "PPTX",
        "XLSX",
        "OTHER"
      ],
      "type": "string"
    },
    "Float": {
      "box": true,
      "type": "float"
    },
    "FocusState": {
      "enum": [
        "ACTIVE",
        "INACTIVE",
        "UNKNOWN"
      ],
      "type": "string"
    },
    "FolderPath": {
      "documentation": "<p>S3 safe path with mandatory trailing slash and no leading slash</p>",
      "max": 1024,
      "min": 2,
      "pattern": "[^/].*/",
      "type": "string"
    },
    "Folders": {
      "member": {
        "shape": "FolderPath"
      },
      "type": "list"
    },
    "GetConnectorRequest": {
      "members": {
        "connectorId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "connectorId"
      ],
      "type": "structure"
    },
    "GetConnectorResponse": {
      "members": {
        "accountConnection": {
          "shape": "AccountConnection"
        },
        "connectorConfiguration": {
          "shape": "ConnectorConfiguration"
        },
        "connectorId": {
          "shape": "UUID"
        },
        "connectorName": {
          "shape": "NonBlankString"
        },
        "connectorType": {
          "shape": "NonBlankString"
        },
        "description": {
          "shape": "ConnectorDescription"
        },
        "sourceAccount": {
          "shape": "AccountIdString"
        },
        "targetRegions": {
          "shape": "RegionList"
        },
        "userId": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetFeedbackQuestionsRequest": {
      "members": {
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "jobId"
      ],
      "type": "structure"
    },
    "GetFeedbackQuestionsResponse": {
      "members": {
        "questions": {
          "shape": "FeedbackQuestions"
        }
      },
      "type": "structure"
    },
    "GetHitlTaskRequest": {
      "members": {
        "jobId": {
          "shape": "UUID"
        },
        "taskId": {
          "shape": "String"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "jobId",
        "taskId"
      ],
      "type": "structure"
    },
    "GetHitlTaskResponse": {
      "members": {
        "task": {
          "shape": "HitlTask"
        }
      },
      "type": "structure"
    },
    "GetJobRequest": {
      "members": {
        "includeObjective": {
          "documentation": "<p>If set to true, the objective will be included in the response.</p>",
          "shape": "Boolean"
        },
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "jobId"
      ],
      "type": "structure"
    },
    "GetJobResponse": {
      "members": {
        "job": {
          "shape": "JobInfo"
        }
      },
      "type": "structure"
    },
    "GetLoginRedirectUriRequest": {
      "members": {
        "callbackRedirectUri": {
          "shape": "Uri"
        },
        "state": {
          "shape": "State"
        }
      },
      "required": [
        "callbackRedirectUri"
      ],
      "type": "structure"
    },
    "GetLoginRedirectUriResponse": {
      "members": {
        "ssoRedirectUri": {
          "shape": "Uri"
        }
      },
      "required": [
        "ssoRedirectUri"
      ],
      "type": "structure"
    },
    "GetUserBackgroundSessionRequest": {
      "members": {
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "workspaceId",
        "jobId"
      ],
      "type": "structure"
    },
    "GetUserBackgroundSessionResponse": {
      "members": {
        "expiresAt": {
          "shape": "Timestamp"
        },
        "userId": {
          "shape": "UserId"
        }
      },
      "required": [
        "userId",
        "expiresAt"
      ],
      "type": "structure"
    },
    "GetUserDetailsRequest": {
      "members": {
        "userId": {
          "shape": "UserId"
        }
      },
      "required": [
        "userId"
      ],
      "type": "structure"
    },
    "GetUserDetailsResponse": {
      "members": {
        "userDetails": {
          "shape": "UserDetails"
        }
      },
      "required": [
        "userDetails"
      ],
      "type": "structure"
    },
    "GetUserPreferencesRequest": {
      "members": {},
      "type": "structure"
    },
    "GetUserPreferencesResponse": {
      "members": {
        "notificationSettings": {
          "shape": "NotificationSettings"
        }
      },
      "required": [
        "notificationSettings"
      ],
      "type": "structure"
    },
    "GetWorkspaceRequest": {
      "members": {
        "id": {
          "shape": "UUID"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "GetWorkspaceResponse": {
      "members": {
        "workspace": {
          "shape": "Workspace"
        }
      },
      "required": [
        "workspace"
      ],
      "type": "structure"
    },
    "GivenName": {
      "max": 1024,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  \u3000]+",
      "sensitive": true,
      "type": "string"
    },
    "GlobalFeedback": {
      "members": {
        "feedback": {
          "shape": "TextResponse"
        },
        "feedbackType": {
          "shape": "GlobalFeedbackType"
        },
        "metadata": {
          "shape": "GlobalFeedbackMetadata"
        }
      },
      "required": [
        "feedbackType",
        "feedback"
      ],
      "type": "structure"
    },
    "GlobalFeedbackMetadata": {
      "members": {
        "hitlTaskId": {
          "shape": "UUID"
        },
        "jobId": {
          "shape": "UUID"
        },
        "jobStepId": {
          "shape": "StepId"
        }
      },
      "type": "structure"
    },
    "GlobalFeedbackType": {
      "enum": [
        "Bug",
        "Feature request",
        "Job efficacy",
        "Chat efficacy",
        "Something else"
      ],
      "type": "string"
    },
    "GroupInteractionData": {
      "members": {
        "children": {
          "shape": "Interactions"
        },
        "groupDescription": {
          "shape": "GroupInteractionDataGroupDescriptionString"
        },
        "groupName": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GroupInteractionDataGroupDescriptionString": {
      "max": 800,
      "min": 0,
      "type": "string"
    },
    "HeaderKey": {
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "HeadersList": {
      "member": {
        "shape": "String"
      },
      "sensitive": true,
      "type": "list"
    },
    "HitlTask": {
      "members": {
        "action": {
          "shape": "Action"
        },
        "agentArtifact": {
          "shape": "HitlTaskArtifact"
        },
        "agentInstanceId": {
          "documentation": "<p>AgentInstance that creates the HITL Task</p>",
          "shape": "UUID"
        },
        "blockingType": {
          "shape": "BlockingType"
        },
        "category": {
          "shape": "Category"
        },
        "completedAt": {
          "shape": "Timestamp"
        },
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "expiredAt": {
          "shape": "Timestamp"
        },
        "humanArtifact": {
          "shape": "HitlTaskArtifact"
        },
        "jobMetadata": {
          "shape": "JobMetadata"
        },
        "planStepId": {
          "documentation": "<p>jobPlanStep that HITL task is associated to</p>",
          "shape": "PlanStepId"
        },
        "severity": {
          "shape": "Severity"
        },
        "status": {
          "shape": "HitlTaskStatus"
        },
        "submittedBy": {
          "shape": "UserId"
        },
        "tag": {
          "documentation": "<p>Idenfitifer to chain or group different Hitl tasks together</p>",
          "shape": "Tag"
        },
        "taskId": {
          "shape": "UUID"
        },
        "taskType": {
          "shape": "HitlTaskType"
        },
        "title": {
          "documentation": "<p>title to display in project plan, e.g.</p>",
          "shape": "Title"
        },
        "updatedAt": {
          "shape": "Timestamp"
        },
        "updatedBy": {
          "shape": "UserId"
        },
        "uxComponentId": {
          "shape": "UxComponentId"
        }
      },
      "required": [
        "taskId",
        "jobMetadata",
        "title",
        "uxComponentId",
        "createdAt",
        "status",
        "agentInstanceId",
        "severity",
        "taskType"
      ],
      "type": "structure"
    },
    "HitlTaskArtifact": {
      "members": {
        "artifactId": {
          "shape": "ArtifactIdentifier"
        }
      },
      "type": "structure"
    },
    "HitlTaskFilter": {
      "members": {
        "blockingType": {
          "shape": "BlockingType"
        },
        "categories": {
          "shape": "Categories"
        },
        "planStepId": {
          "shape": "PlanStepId"
        },
        "tag": {
          "shape": "Tag"
        },
        "taskStatuses": {
          "shape": "HitlTaskStatuses"
        }
      },
      "type": "structure"
    },
    "HitlTaskStatus": {
      "enum": [
        "CREATED",
        "AWAITING_HUMAN_INPUT",
        "IN_PROGRESS",
        "AWAITING_APPROVAL",
        "CLOSED",
        "SUBMITTED",
        "CANCELLED",
        "CLOSED_PENDING_NEXT_TASK",
        "DELIVERED"
      ],
      "type": "string"
    },
    "HitlTaskStatuses": {
      "member": {
        "shape": "HitlTaskStatus"
      },
      "type": "list"
    },
    "HitlTaskType": {
      "enum": [
        "NORMAL",
        "DASHBOARD"
      ],
      "type": "string"
    },
    "HitlTasks": {
      "member": {
        "shape": "HitlTask"
      },
      "type": "list"
    },
    "IdentityDetails": {
      "members": {
        "applicationArn": {
          "shape": "ResourceArn"
        },
        "instanceArn": {
          "shape": "ResourceArn"
        },
        "ssoRegion": {
          "shape": "String"
        }
      },
      "required": [
        "instanceArn",
        "applicationArn",
        "ssoRegion"
      ],
      "type": "structure"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "Interaction": {
      "members": {
        "actionType": {
          "shape": "ActionType"
        },
        "data": {
          "shape": "InteractionData"
        },
        "interactionId": {
          "shape": "UUID"
        },
        "target": {
          "shape": "Target"
        }
      },
      "type": "structure"
    },
    "InteractionData": {
      "members": {
        "groupInteractionData": {
          "shape": "GroupInteractionData"
        },
        "invokeInteractionData": {
          "shape": "InvokeInteractionData"
        },
        "selectInteractionData": {
          "shape": "SelectInteractionData"
        }
      },
      "type": "structure"
    },
    "InteractionResult": {
      "members": {
        "interactionId": {
          "shape": "UUID"
        },
        "invokedStatus": {
          "shape": "InvokedStatus"
        },
        "selectedOption": {
          "shape": "Option"
        }
      },
      "type": "structure"
    },
    "InteractionResultList": {
      "member": {
        "shape": "InteractionResult"
      },
      "type": "list"
    },
    "InteractionResults": {
      "members": {
        "interactionOriginId": {
          "documentation": "<p>The origin message for which the interaction result should be stored</p>",
          "shape": "UUID"
        },
        "interactionResults": {
          "shape": "InteractionResultList"
        }
      },
      "type": "structure"
    },
    "Interactions": {
      "member": {
        "shape": "Interaction"
      },
      "type": "list"
    },
    "InternalServerException": {
      "documentation": "<p>Returns HTTP status code 500</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvokeApi": {
      "members": {
        "label": {
          "shape": "String"
        },
        "operationName": {
          "shape": "String"
        },
        "operationParams": {
          "shape": "Parameters"
        }
      },
      "type": "structure"
    },
    "InvokeInteractionData": {
      "members": {
        "invokeApi": {
          "shape": "InvokeApi"
        }
      },
      "type": "structure"
    },
    "InvokedStatus": {
      "enum": [
        "INVOKED",
        "NOT_INVOKED"
      ],
      "type": "string"
    },
    "JobFailureReason": {
      "sensitive": true,
      "type": "string"
    },
    "JobFeedback": {
      "members": {
        "feedback": {
          "shape": "JobFeedbackAnswers"
        },
        "metadata": {
          "shape": "JobFeedbackMetadata"
        }
      },
      "required": [
        "feedback",
        "metadata"
      ],
      "type": "structure"
    },
    "JobFeedbackAnswer": {
      "members": {
        "answer": {
          "shape": "JobFeedbackAnswerType"
        },
        "questionId": {
          "shape": "UUID"
        }
      },
      "required": [
        "questionId",
        "answer"
      ],
      "type": "structure"
    },
    "JobFeedbackAnswerType": {
      "members": {
        "ratingResponse": {
          "shape": "Rating"
        },
        "textResponse": {
          "shape": "TextResponse"
        }
      },
      "type": "structure",
      "union": true
    },
    "JobFeedbackAnswers": {
      "member": {
        "shape": "JobFeedbackAnswer"
      },
      "type": "list"
    },
    "JobFeedbackMetadata": {
      "members": {
        "hitlTaskId": {
          "shape": "UUID"
        },
        "jobId": {
          "shape": "UUID"
        },
        "jobStatus": {
          "shape": "JobStatus"
        },
        "jobStepId": {
          "shape": "StepId"
        }
      },
      "required": [
        "jobStatus"
      ],
      "type": "structure"
    },
    "JobFilter": {
      "documentation": "<p>Job filter options</p>",
      "members": {
        "categoryType": {
          "documentation": "<p>Filter by category type</p>",
          "shape": "CategoryType"
        },
        "jobId": {
          "shape": "UUID"
        },
        "planStepId": {
          "documentation": "<p>Filter by job plan step Identifier</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "JobInfo": {
      "members": {
        "agentFeatures": {
          "shape": "AgentFeatures"
        },
        "backgroundSessionStatus": {
          "shape": "BackgroundSessionStatus"
        },
        "clientAppId": {
          "shape": "String"
        },
        "clientSource": {
          "shape": "String"
        },
        "creationTime": {
          "shape": "Timestamp"
        },
        "endExecutionTime": {
          "shape": "Timestamp"
        },
        "executionPlanId": {
          "documentation": "<p>Plan this job belongs to. Null for non-plan jobs.</p>",
          "shape": "UUID"
        },
        "intent": {
          "shape": "String"
        },
        "jobId": {
          "shape": "UUID"
        },
        "jobName": {
          "shape": "JobName"
        },
        "objective": {
          "shape": "JobObjective"
        },
        "restartable": {
          "shape": "Boolean"
        },
        "startExecutionTime": {
          "shape": "Timestamp"
        },
        "statusDetails": {
          "shape": "StatusDetails"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "type": "structure"
    },
    "JobList": {
      "member": {
        "shape": "ListJobEntry"
      },
      "type": "list"
    },
    "JobMetadata": {
      "members": {
        "jobId": {
          "shape": "UUID"
        },
        "workspaceId": {
          "shape": "UUID"
        }
      },
      "required": [
        "jobId",
        "workspaceId"
      ],
      "type": "structure"
    },
    "JobName": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9]+(?:[-_\\. ]+[a-zA-Z0-9]+)*",
      "sensitive": true,
      "type": "string"
[...]
