{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-07-26",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"elasticgumbyfrontendservice",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Elastic Gumby Frontend Service",
    "serviceId":"ElasticGumbyFrontend",
    "signatureVersion":"v4",
    "signingName":"elasticgumbyfrontendservice",
    "targetPrefix":"ElasticGumbyFrontEndService",
    "uid":"elasticgumbyfrontend-2022-07-26"
  },
  "operations":{
    "AddCaseCommunication":{
      "name":"AddCaseCommunication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddCaseCommunicationRequest"},
      "output":{"shape":"AddCaseCommunicationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "BatchGetMessage":{
      "name":"BatchGetMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetMessageRequest"},
      "output":{"shape":"BatchGetMessageResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "BatchGetUserDetails":{
      "name":"BatchGetUserDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetUserDetailsRequest"},
      "output":{"shape":"BatchGetUserDetailsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "CompleteArtifactUpload":{
      "name":"CompleteArtifactUpload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CompleteArtifactUploadRequest"},
      "output":{"shape":"CompleteArtifactUploadResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateArtifactDownloadUrl":{
      "name":"CreateArtifactDownloadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateArtifactDownloadUrlRequest"},
      "output":{"shape":"CreateArtifactDownloadUrlResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateArtifactUploadUrl":{
      "name":"CreateArtifactUploadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateArtifactUploadUrlRequest"},
      "output":{"shape":"CreateArtifactUploadUrlResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"FileAlreadyExistsException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateAssetDownloadUrl":{
      "name":"CreateAssetDownloadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssetDownloadUrlRequest"},
      "output":{"shape":"CreateAssetDownloadUrlResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateConnector":{
      "name":"CreateConnector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConnectorRequest"},
      "output":{"shape":"CreateConnectorResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateFeedback":{
      "name":"CreateFeedback",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFeedbackRequest"},
      "output":{"shape":"CreateFeedbackResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateJob":{
      "name":"CreateJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateJobRequest"},
      "output":{"shape":"CreateJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>API used to create a job that is associated to a workspace. This does not execute the job.</p>",
      "idempotent":true
    },
    "CreatePlan":{
      "name":"CreatePlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePlanRequest"},
      "output":{"shape":"CreatePlanResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "CreateSession":{
      "name":"CreateSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSessionRequest"},
      "output":{"shape":"CreateSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateSupportCase":{
      "name":"CreateSupportCase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSupportCaseRequest"},
      "output":{"shape":"CreateSupportCaseResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateWorkspace":{
      "name":"CreateWorkspace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkspaceRequest"},
      "output":{"shape":"CreateWorkspaceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "DeleteConnector":{
      "name":"DeleteConnector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConnectorRequest"},
      "output":{"shape":"DeleteConnectorResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteJob":{
      "name":"DeleteJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteJobRequest"},
      "output":{"shape":"DeleteJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>API used to delete an existing job and all related data.</p>"
    },
    "DeleteSelfRoleMappings":{
      "name":"DeleteSelfRoleMappings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSelfRoleMappingsRequest"},
      "output":{"shape":"DeleteSelfRoleMappingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes a caller user from the workspace (self-removal).</p>",
      "idempotent":true
    },
    "DeleteUserRoleMappings":{
      "name":"DeleteUserRoleMappings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRoleMappingsRequest"},
      "output":{"shape":"DeleteUserRoleMappingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes a target user from a workspace. The target user cannot be the caller.</p>",
      "idempotent":true
    },
    "DeleteWorkspace":{
      "name":"DeleteWorkspace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkspaceRequest"},
      "output":{"shape":"DeleteWorkspaceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "DetectIsAllowedForOperation":{
      "name":"DetectIsAllowedForOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectIsAllowedForOperationRequest"},
      "output":{"shape":"DetectIsAllowedForOperationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetConnector":{
      "name":"GetConnector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectorRequest"},
      "output":{"shape":"GetConnectorResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetDashboard":{
      "name":"GetDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDashboardRequest"},
      "output":{"shape":"GetDashboardResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetFeedbackQuestions":{
      "name":"GetFeedbackQuestions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetFeedbackQuestionsRequest"},
      "output":{"shape":"GetFeedbackQuestionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetHitlTask":{
      "name":"GetHitlTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetHitlTaskRequest"},
      "output":{"shape":"GetHitlTaskResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetJob":{
      "name":"GetJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobRequest"},
      "output":{"shape":"GetJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>API used to get details about a job.</p>"
    },
    "GetLoginRedirectUri":{
      "name":"GetLoginRedirectUri",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoginRedirectUriRequest"},
      "output":{"shape":"GetLoginRedirectUriResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetPlan":{
      "name":"GetPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPlanRequest"},
      "output":{"shape":"GetPlanResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetUserBackgroundSession":{
      "name":"GetUserBackgroundSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserBackgroundSessionRequest"},
      "output":{"shape":"GetUserBackgroundSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetUserDetails":{
      "name":"GetUserDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserDetailsRequest"},
      "output":{"shape":"GetUserDetailsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetUserPreferences":{
      "name":"GetUserPreferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserPreferencesRequest"},
      "output":{"shape":"GetUserPreferencesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "GetWorkspace":{
      "name":"GetWorkspace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetWorkspaceRequest"},
      "output":{"shape":"GetWorkspaceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListArtifacts":{
      "name":"ListArtifacts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListArtifactsRequest"},
      "output":{"shape":"ListArtifactsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListAvailableProfiles":{
      "name":"ListAvailableProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAvailableProfilesRequest"},
      "output":{"shape":"ListAvailableProfilesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListConnectors":{
      "name":"ListConnectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListConnectorsRequest"},
      "output":{"shape":"ListConnectorsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListHitlTasks":{
      "name":"ListHitlTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHitlTasksRequest"},
      "output":{"shape":"ListHitlTasksResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListIamRoleAssignments":{
      "name":"ListIamRoleAssignments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIamRoleAssignmentsRequest"},
      "output":{"shape":"ListIamRoleAssignmentsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists IAM role assignments for the calling user. Self-scoped: userId is extracted from the bearer token.</p>",
      "readonly":true
    },
    "ListJobPlanSteps":{
      "name":"ListJobPlanSteps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListJobPlanStepsRequest"},
      "output":{"shape":"ListJobPlanStepsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API can be used to either list all the job plan steps, top-level steps only, or steps under a parent step.</p>"
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListJobsRequest"},
      "output":{"shape":"ListJobsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>API used to list jobs within a workspace.</p>"
    },
    "ListMessages":{
      "name":"ListMessages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMessagesRequest"},
      "output":{"shape":"ListMessagesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListPlanUpdates":{
      "name":"ListPlanUpdates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPlanUpdatesRequest"},
      "output":{"shape":"ListPlanUpdatesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>API used to list updates that have been made to the job plan since the timestamp passed in the request.</p>"
    },
    "ListPlans":{
      "name":"ListPlans",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPlansRequest"},
      "output":{"shape":"ListPlansResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListSuggestions":{
      "name":"ListSuggestions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSuggestionsRequest"},
      "output":{"shape":"ListSuggestionsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListUserRoleMappings":{
      "name":"ListUserRoleMappings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserRoleMappingsRequest"},
      "output":{"shape":"ListUserRoleMappingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListWorklogs":{
      "name":"ListWorklogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorklogsRequest"},
      "output":{"shape":"ListWorklogsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>API for getting agent/HITL/job worklogs</p>"
    },
    "ListWorkspaces":{
      "name":"ListWorkspaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkspacesRequest"},
      "output":{"shape":"ListWorkspacesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "PutUserPreferences":{
      "name":"PutUserPreferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutUserPreferencesRequest"},
      "output":{"shape":"PutUserPreferencesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "PutUserRoleMappings":{
      "name":"PutUserRoleMappings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutUserRoleMappingsRequest"},
      "output":{"shape":"PutUserRoleMappingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ResolveSupportCase":{
      "name":"ResolveSupportCase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResolveSupportCaseRequest"},
      "output":{"shape":"ResolveSupportCaseResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "RevokeSession":{
      "name":"RevokeSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeSessionRequest"},
      "output":{"shape":"RevokeSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "RevokeUserBackgroundSession":{
      "name":"RevokeUserBackgroundSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeUserBackgroundSessionRequest"},
      "output":{"shape":"RevokeUserBackgroundSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "SearchUsers":{
      "name":"SearchUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchUsersRequest"},
      "output":{"shape":"SearchUsersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "SearchUsersTypeahead":{
      "name":"SearchUsersTypeahead",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchUsersTypeaheadRequest"},
      "output":{"shape":"SearchUsersTypeaheadResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "SendMessage":{
      "name":"SendMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendMessageRequest"},
      "output":{"shape":"SendMessageResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "StartJob":{
      "name":"StartJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartJobRequest"},
      "output":{"shape":"StartJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>API used to invoke the orchestrator agent, which starts the execution of a job.</p>",
      "idempotent":true
    },
    "StopJob":{
      "name":"StopJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopJobRequest"},
      "output":{"shape":"StopJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>API used to stop the execution of a job.</p>",
      "idempotent":true
    },
    "SubmitCriticalHitlTask":{
      "name":"SubmitCriticalHitlTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SubmitCriticalHitlTaskRequest"},
      "output":{"shape":"SubmitCriticalHitlTaskResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "SubmitStandardHitlTask":{
      "name":"SubmitStandardHitlTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SubmitStandardHitlTaskRequest"},
      "output":{"shape":"SubmitStandardHitlTaskResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "TestReleaseTraitPreProd":{
      "name":"TestReleaseTraitPreProd",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestReleaseTraitPreProdRequest"},
      "output":{"shape":"TestReleaseTraitPreProdResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Internal API meant for testing.</p>"
    },
    "TestReleaseTraitProd":{
      "name":"TestReleaseTraitProd",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestReleaseTraitProdRequest"},
      "output":{"shape":"TestReleaseTraitProdResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Internal API meant for testing.</p>"
    },
    "UpdateHitlTask":{
      "name":"UpdateHitlTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateHitlTaskRequest"},
      "output":{"shape":"UpdateHitlTaskResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "UpdateJob":{
      "name":"UpdateJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateJobRequest"},
      "output":{"shape":"UpdateJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is called to update the objective and/or name associated with an already created job.</p>",
      "idempotent":true
    },
    "UpdatePlan":{
      "name":"UpdatePlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePlanRequest"},
      "output":{"shape":"UpdatePlanResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "UpdateWorkspace":{
      "name":"UpdateWorkspace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkspaceRequest"},
      "output":{"shape":"UpdateWorkspaceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "idempotent":true
    },
    "VerifySession":{
      "name":"VerifySession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifySessionRequest"},
      "output":{"shape":"VerifySessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"CustomerConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"DryRunOperationException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"},
        "reason":{"shape":"AccessDeniedReason"}
      },
      "documentation":"<p>Returns HTTP status code 403</p>",
      "exception":true
    },
    "AccessDeniedReason":{
      "type":"string",
      "enum":[
        "NOT_ALLOWLISTED",
        "INVALID_SESSION",
        "MISSING_SUBSCRIPTION",
        "UNAUTHORIZED"
      ]
    },
    "AccountConnection":{
      "type":"structure",
      "members":{
        "awsAccountConnection":{"shape":"AwsAccountConnection"}
      },
      "union":true
    },
    "AccountConnectionRequest":{
      "type":"structure",
      "members":{
        "awsAccountConnectionRequest":{"shape":"AwsAccountConnectionRequest"}
      },
      "union":true
    },
    "AccountConnectionStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "ACTIVE",
        "REJECTED"
      ]
    },
    "AccountId":{
      "type":"string",
      "documentation":"<p>Represents the AWS account ID of the customer</p>",
      "pattern":"[0-9]{12}"
    },
    "AccountIdString":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"[0-9]+"
    },
    "Action":{
      "type":"string",
      "enum":[
        "APPROVE",
        "REJECT"
      ]
    },
    "ActionType":{
      "type":"string",
      "enum":[
        "SELECT",
        "INVOKE",
        "GROUP"
      ]
    },
    "AddCaseCommunicationRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId",
        "caseId",
        "communicationBody"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "caseId":{"shape":"SupportCaseId"},
        "communicationBody":{"shape":"SupportCaseCommunicationBody"}
      }
    },
    "AddCaseCommunicationResponse":{
      "type":"structure",
      "required":["result"],
      "members":{
        "result":{"shape":"Boolean"}
      }
    },
    "AgentFeatures":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "AllowedStatus":{
      "type":"string",
      "enum":[
        "ALLOWED",
        "DENIED"
      ]
    },
    "Artifact":{
      "type":"structure",
      "required":[
        "artifactId",
        "artifactType",
        "artifactCreatedTimestamp",
        "artifactExpiryTimestamp"
      ],
      "members":{
        "jobId":{"shape":"UUID"},
        "artifactId":{"shape":"ArtifactIdentifier"},
        "artifactType":{"shape":"ArtifactType"},
        "artifactCreatedTimestamp":{"shape":"Timestamp"},
        "planStepId":{"shape":"StepId"},
        "artifactExpiryTimestamp":{"shape":"Timestamp"},
        "fileMetadata":{"shape":"FileMetadata"},
        "sizeInBytes":{"shape":"Long"},
        "storedInAtxBucket":{
          "shape":"Boolean",
          "documentation":"<p>Whether the artifact is stored in an ATX-managed bucket</p>"
        }
      }
    },
    "ArtifactIdentifier":{
      "type":"string",
      "documentation":"<p>Identifies an artifact by either a UUID or an S3 object key</p>",
      "max":1024,
      "min":1,
      "pattern":".*[^/]"
    },
    "ArtifactReference":{
      "type":"structure",
      "members":{
        "artifactType":{"shape":"ArtifactType"},
        "artifactId":{"shape":"ArtifactIdentifier"}
      },
      "union":true
    },
    "ArtifactReferences":{
      "type":"list",
      "member":{"shape":"ChatArtifactReference"},
      "max":10,
      "min":1
    },
    "ArtifactType":{
      "type":"structure",
      "required":[
        "categoryType",
        "fileType"
      ],
      "members":{
        "categoryType":{"shape":"CategoryType"},
        "fileType":{"shape":"FileType"},
        "schemaType":{"shape":"SchemaType"}
      }
    },
    "Artifacts":{
      "type":"list",
      "member":{"shape":"Artifact"}
    },
    "Asset":{
      "type":"structure",
      "required":["assetKey"],
      "members":{
        "assetKey":{
          "shape":"String",
          "documentation":"<p>Asset object's path in customer's bucket.</p>"
        },
        "sizeInBytes":{"shape":"Long"},
        "createdTimestamp":{"shape":"Long"}
      }
    },
    "Assets":{
      "type":"list",
      "member":{"shape":"Asset"}
    },
    "Attachments":{
      "type":"structure",
      "members":{
        "artifactReferences":{"shape":"ArtifactReferences"}
      }
    },
    "AttributeKey":{
      "type":"string",
      "max":10,
      "min":1
    },
    "AttributeValue":{
      "type":"string",
      "max":50,
      "min":1
    },
    "AwsAccountConnection":{
      "type":"structure",
      "members":{
        "status":{"shape":"AccountConnectionStatus"},
        "createdDate":{"shape":"Timestamp"},
        "expirationDate":{"shape":"Timestamp"},
        "accountId":{"shape":"AccountIdString"},
        "roleArn":{"shape":"String"},
        "connectionToken":{"shape":"UUID"}
      }
    },
    "AwsAccountConnectionRequest":{
      "type":"structure",
      "members":{
        "awsAccountId":{"shape":"AccountIdString"}
      }
    },
    "BackgroundSessionStatus":{
      "type":"string",
      "pattern":"(ENABLED|DISABLED)"
    },
    "BatchGetMessageError":{
      "type":"structure",
      "required":[
        "messageId",
        "errorCode",
        "errorMessage"
      ],
      "members":{
        "messageId":{
          "shape":"UUID",
          "documentation":"<p>An identifier for the message that encountered an error during retrieval</p>"
        },
        "errorCode":{
          "shape":"String",
          "documentation":"<p>A code representing the type of error encountered</p>"
        },
        "errorMessage":{
          "shape":"BatchGetMessageErrorMessage",
          "documentation":"<p>A message describing the error encountered</p>"
        }
      }
    },
    "BatchGetMessageErrorMessage":{
      "type":"string",
      "sensitive":true
    },
    "BatchGetMessageErrors":{
      "type":"list",
      "member":{"shape":"BatchGetMessageError"}
    },
    "BatchGetMessageRequest":{
      "type":"structure",
      "required":["messageIds"],
      "members":{
        "messageIds":{
          "shape":"BatchGetMessageRequestMessageIdsList",
          "documentation":"<p>A list of identifiers for messages being requested</p>"
        },
        "workspaceId":{
          "shape":"UUID",
          "documentation":"<p>used to perform AuthZ based on workspaceId in the chat.</p>"
        }
      }
    },
    "BatchGetMessageRequestMessageIdsList":{
      "type":"list",
      "member":{"shape":"UUID"},
      "max":100,
      "min":1
    },
    "BatchGetMessageResponse":{
      "type":"structure",
      "required":[
        "messages",
        "errors"
      ],
      "members":{
        "messages":{
          "shape":"Messages",
          "documentation":"<p>A list of messages retrieved successfully, returned in the order requested</p>"
        },
        "errors":{
          "shape":"BatchGetMessageErrors",
          "documentation":"<p>A list of errors encountered during the batch retrieval operation</p>"
        }
      }
    },
    "BatchGetUserDetailsRequest":{
      "type":"structure",
      "required":["userIdList"],
      "members":{
        "userIdList":{"shape":"UserIdList"}
      }
    },
    "BatchGetUserDetailsResponse":{
      "type":"structure",
      "required":[
        "successfulUserDetails",
        "failedUserDetails"
      ],
      "members":{
        "successfulUserDetails":{"shape":"SuccessfulUserDetails"},
        "failedUserDetails":{"shape":"FailedUserDetails"}
      }
    },
    "BlockingType":{
      "type":"string",
      "enum":[
        "BLOCKING",
        "NON_BLOCKING"
      ]
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CampaignContext":{
      "type":"structure",
      "required":["campaignName"],
      "members":{
        "campaignName":{
          "shape":"String",
          "documentation":"<p>Unique campaign name for campaign-specific dashboard</p>"
        }
      }
    },
    "Categories":{
      "type":"list",
      "member":{"shape":"Category"}
    },
    "Category":{
      "type":"string",
      "enum":[
        "TOOL_APPROVAL",
        "REGULAR"
      ]
    },
    "CategoryType":{
      "type":"string",
      "documentation":"<p>The categoryType refers to the context or purpose of the data within a workflow</p>",
      "enum":[
        "CUSTOMER_OUTPUT",
        "HITL_FROM_USER",
        "CUSTOMER_INPUT",
        "PLAN_STEP_SUMMARY"
      ]
    },
    "ChatArtifactMetadata":{
      "type":"structure",
      "members":{
        "artifactId":{"shape":"ArtifactIdentifier"}
      }
    },
    "ChatArtifactReference":{
      "type":"structure",
      "required":[
        "artifactId",
        "workspaceId",
        "jobId"
      ],
      "members":{
        "artifactId":{"shape":"ArtifactIdentifier"},
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"}
      }
    },
    "ChatConnectors":{
      "type":"list",
      "member":{"shape":"ConnectorMetadata"}
    },
    "ChatFeedback":{
      "type":"structure",
      "required":[
        "feedbackType",
        "metadata"
      ],
      "members":{
        "feedbackType":{"shape":"ChatFeedbackType"},
        "feedbackReasons":{"shape":"ChatFeedbackReasons"},
        "feedback":{"shape":"TextResponse"},
        "metadata":{"shape":"ChatFeedbackMetadata"}
      }
    },
    "ChatFeedbackMetadata":{
      "type":"structure",
      "required":["messageId"],
      "members":{
        "hitlTaskId":{"shape":"UUID"},
        "jobStepId":{"shape":"StepId"},
        "jobId":{"shape":"UUID"},
        "messageId":{"shape":"UUID"}
      }
    },
    "ChatFeedbackReason":{
      "type":"string",
      "enum":[
        "Harmful",
        "Not accurate",
        "Not useful or incomplete",
        "Something else"
      ]
    },
    "ChatFeedbackReasons":{
      "type":"list",
      "member":{"shape":"ChatFeedbackReason"}
    },
    "ChatFeedbackType":{
      "type":"string",
      "enum":[
        "POSITIVE",
        "NEGATIVE"
      ]
    },
    "ChatHitlTaskMetadata":{
      "type":"structure",
      "members":{
        "hitlTaskId":{"shape":"String"},
        "focusState":{"shape":"FocusState"}
      }
    },
    "ChatJobMetadata":{
      "type":"structure",
      "members":{
        "jobId":{"shape":"UUID"},
        "focusState":{"shape":"FocusState"},
        "hitl":{"shape":"ChatHitlTaskMetadata"},
        "artifact":{"shape":"ChatArtifactMetadata"},
        "worklog":{"shape":"ChatWorklogStepMetadata"}
      }
    },
    "ChatJobs":{
      "type":"list",
      "member":{"shape":"ChatJobMetadata"}
    },
    "ChatStepId":{
      "type":"string",
      "max":41,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "ChatWorklogStepMetadata":{
      "type":"structure",
      "members":{
        "stepId":{"shape":"ChatStepId"},
        "focusState":{"shape":"FocusState"}
      }
    },
    "CompleteArtifactUploadRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "artifactId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "artifactId":{"shape":"ArtifactIdentifier"}
      }
    },
    "CompleteArtifactUploadResponse":{
      "type":"structure",
      "required":["artifact"],
      "members":{
        "artifact":{"shape":"Artifact"}
      }
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Returns HTTP status code 409</p>",
      "exception":true
    },
    "ConnectorConfiguration":{
      "type":"map",
      "key":{"shape":"NonBlankString"},
      "value":{"shape":"NonBlankString"}
    },
    "ConnectorDescription":{
      "type":"string",
      "sensitive":true
    },
    "ConnectorList":{
      "type":"list",
      "member":{"shape":"ConnectorSummaryData"}
    },
    "ConnectorMetadata":{
      "type":"structure",
      "members":{
        "connectorId":{"shape":"UUID"},
        "focusState":{"shape":"FocusState"}
      }
    },
    "ConnectorSummaryData":{
      "type":"structure",
      "members":{
        "connectorId":{"shape":"UUID"},
        "connectorName":{"shape":"NonBlankString"},
        "description":{"shape":"ConnectorDescription"},
        "connectorType":{"shape":"NonBlankString"},
        "targetRegions":{"shape":"RegionList"}
      }
    },
    "ContentDigest":{
      "type":"structure",
      "members":{
        "Sha256":{"shape":"Sha256Checksum"}
      },
      "union":true
    },
    "CreateArtifactDownloadUrlRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "artifactId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "artifactId":{"shape":"ArtifactIdentifier"}
      }
    },
    "CreateArtifactDownloadUrlResponse":{
      "type":"structure",
      "required":[
        "s3PreSignedUrl",
        "s3UrlExpiryTimestamp",
        "artifactType",
        "requestHeaders"
      ],
      "members":{
        "s3PreSignedUrl":{"shape":"S3Url"},
        "s3UrlExpiryTimestamp":{"shape":"Timestamp"},
        "artifactType":{"shape":"ArtifactType"},
        "requestHeaders":{"shape":"RequestHeaders"},
        "artifact":{"shape":"Artifact"}
      }
    },
    "CreateArtifactUploadUrlRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "contentDigest",
        "artifactReference"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "contentDigest":{"shape":"ContentDigest"},
        "artifactReference":{"shape":"ArtifactReference"},
        "planStepId":{"shape":"StepId"},
        "fileMetadata":{"shape":"FileMetadata"},
        "connectorId":{
          "shape":"UUID",
          "documentation":"<p>Unique identifier for a connector</p>"
        }
      }
    },
    "CreateArtifactUploadUrlResponse":{
      "type":"structure",
      "required":[
        "s3PreSignedUrl",
        "s3UrlExpiryTimestamp",
        "artifactId",
        "requestHeaders"
      ],
      "members":{
        "s3PreSignedUrl":{"shape":"S3Url"},
        "s3UrlExpiryTimestamp":{"shape":"Timestamp"},
        "artifactId":{"shape":"ArtifactIdentifier"},
        "requestHeaders":{"shape":"RequestHeaders"}
      }
    },
    "CreateAssetDownloadUrlRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "connectorId",
        "assetKey"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "connectorId":{"shape":"UUID"},
        "assetKey":{"shape":"CreateAssetDownloadUrlRequestAssetKeyString"}
      }
    },
    "CreateAssetDownloadUrlRequestAssetKeyString":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"([a-zA-Z0-9._()!*' $@=;:+,?&-]+)(/[a-zA-Z0-9._()!*' $@=;:+,?&-]+)*"
    },
    "CreateAssetDownloadUrlResponse":{
      "type":"structure",
      "required":[
        "s3PreSignedUrl",
        "s3UrlExpiryTimestamp",
        "requestHeaders"
      ],
      "members":{
        "s3PreSignedUrl":{"shape":"S3Url"},
        "s3UrlExpiryTimestamp":{"shape":"Timestamp"},
        "requestHeaders":{"shape":"RequestHeaders"}
      }
    },
    "CreateConnectorRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "connectorName",
        "connectorType",
        "accountConnectionRequest",
        "configuration"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "connectorName":{"shape":"NonBlankString"},
        "description":{"shape":"ConnectorDescription"},
        "connectorType":{"shape":"NonBlankString"},
        "accountConnectionRequest":{"shape":"AccountConnectionRequest"},
        "configuration":{"shape":"ConnectorConfiguration"},
        "idempotencyToken":{
          "shape":"UUID",
          "idempotencyToken":true
        },
        "targetRegions":{"shape":"RegionList"}
      }
    },
    "CreateConnectorResponse":{
      "type":"structure",
      "members":{
        "connectorId":{"shape":"UUID"},
        "workspaceId":{"shape":"UUID"},
        "connectorName":{"shape":"NonBlankString"},
        "description":{"shape":"String"},
        "connectorType":{"shape":"NonBlankString"},
        "accountConnection":{"shape":"AccountConnection"},
        "configuration":{"shape":"ConnectorConfiguration"},
        "targetRegions":{"shape":"RegionList"}
      }
    },
    "CreateDashboardRequest":{
      "type":"structure",
      "members":{
        "configuration":{
          "shape":"DashboardViewConfiguration",
          "documentation":"<p>Dashboard view configuration settings</p>"
        }
      }
    },
    "CreateDashboardResponse":{
      "type":"structure",
      "required":["dashboardId"],
      "members":{
        "dashboardId":{
          "shape":"UUID",
          "documentation":"<p>Dashboard ID for retrieving the generated content</p>"
        }
      }
    },
    "CreateFeedbackRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "feedback"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "feedback":{"shape":"Feedback"}
      }
    },
    "CreateFeedbackResponse":{
      "type":"structure",
      "members":{}
    },
    "CreateJobRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "objective",
        "jobName",
        "intent"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "objective":{"shape":"JobObjective"},
        "jobType":{"shape":"JobType"},
        "orchestratorAgent":{"shape":"OrchestratorAgent"},
        "jobName":{"shape":"JobName"},
        "intent":{"shape":"String"},
        "executionPlanId":{
          "shape":"UUID",
          "documentation":"<p>Optional. Plan this job is executing a step of.</p>"
        },
        "idempotencyToken":{
          "shape":"UUID",
          "idempotencyToken":true
        }
      }
    },
    "CreateJobResponse":{
      "type":"structure",
      "required":[
        "jobId",
        "status"
      ],
      "members":{
        "jobId":{"shape":"UUID"},
        "status":{"shape":"JobStatus"}
      }
    },
    "CreatePlanRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "name"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "name":{"shape":"PlanName"},
        "planArtifact":{"shape":"PlanArtifact"},
        "idempotencyToken":{
          "shape":"UUID",
          "idempotencyToken":true
        }
      }
    },
    "CreatePlanResponse":{
      "type":"structure",
      "required":["plan"],
      "members":{
        "plan":{"shape":"PlanMetadata"}
      }
    },
    "CreateSessionRequest":{
      "type":"structure",
      "required":["loginQueryParameters"],
      "members":{
        "loginQueryParameters":{"shape":"LoginQueryParametersMap"}
      }
    },
    "CreateSessionResponse":{
      "type":"structure",
      "required":["userId"],
      "members":{
        "userId":{"shape":"UserId"},
        "state":{"shape":"State"}
      }
    },
    "CreateSupportCaseRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId",
        "subject",
        "communicationBody"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "subject":{"shape":"SupportCaseSubject"},
        "communicationBody":{"shape":"SupportCaseCommunicationBody"},
        "severityCode":{"shape":"SupportCaseSeverityCode"},
        "serviceCode":{"shape":"SupportCaseServiceCode"},
        "categoryCode":{"shape":"SupportCaseCategoryCode"}
      }
    },
    "CreateSupportCaseResponse":{
      "type":"structure",
      "required":["caseId"],
      "members":{
        "caseId":{"shape":"SupportCaseId"}
      }
    },
    "CreateWorkspaceRequest":{
      "type":"structure",
      "members":{
        "name":{"shape":"WorkspaceNameString"},
        "description":{"shape":"WorkspaceDescriptionString"},
        "idempotencyToken":{
          "shape":"UUID",
          "idempotencyToken":true
        }
      }
    },
    "CreateWorkspaceResponse":{
      "type":"structure",
      "required":["workspace"],
      "members":{
        "workspace":{"shape":"Workspace"}
      }
    },
    "CustomerConfigurationException":{
      "type":"structure",
      "required":[
        "errorCode",
        "message"
      ],
      "members":{
        "errorCode":{"shape":"CustomerConfigurationExceptionErrorCode"},
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "CustomerConfigurationExceptionErrorCode":{
      "type":"string",
      "enum":[
        "ACCESS_DENIED",
        "NOT_FOUND"
      ]
    },
    "DashboardScope":{
      "type":"string",
      "enum":[
        "CAMPAIGN",
        "JOB_TYPE"
      ]
    },
    "DashboardStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "COMPLETE",
        "ERROR"
      ]
    },
    "DashboardViewConfiguration":{
      "type":"structure",
      "members":{
        "type":{
          "shape":"DashboardViewType",
          "documentation":"<p>Type of dashboard view to generate</p>"
        },
        "summaryConfiguration":{
          "shape":"SummaryConfiguration",
          "documentation":"<p>Configuration for summary dashboard type</p>"
        }
      },
      "documentation":"<p>Configuration for dashboard view settings</p>"
    },
    "DashboardViewType":{
      "type":"string",
      "enum":[
        "SUMMARY",
        "TOPOLOGY"
      ]
    },
    "DeleteConnectorRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "connectorId"
      ],
      "members":{
        "workspaceId":{
          "shape":"UUID",
          "documentation":"<p>This is the workspace with the connector, the workspace is not deleted, only the connector is deleted</p>"
        },
        "connectorId":{
          "shape":"UUID",
          "documentation":"<p>A connector can be assigned only to one workspace</p>"
        }
      }
    },
    "DeleteConnectorResponse":{
      "type":"structure",
      "members":{
        "workspaceId":{
          "shape":"UUID",
          "documentation":"<p>Workspace-id of deleted connector</p>"
        },
        "connectorId":{
          "shape":"UUID",
          "documentation":"<p>Deleted connector-id</p>"
        }
      }
    },
    "DeleteJobRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"}
      }
    },
    "DeleteJobResponse":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"}
      }
    },
    "DeleteSelfRoleMappingsRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{"shape":"UUID"}
      }
    },
    "DeleteSelfRoleMappingsResponse":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{"shape":"UUID"}
      }
    },
    "DeleteUserRoleMappingsRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "userId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "userId":{"shape":"UserId"}
      }
    },
    "DeleteUserRoleMappingsResponse":{
      "type":"structure",
      "required":[
        "workspaceId",
        "userId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "userId":{"shape":"UserId"}
      }
    },
    "DeleteWorkspaceRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{"shape":"UUID"}
      }
    },
    "DeleteWorkspaceResponse":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{"shape":"UUID"}
      }
    },
    "Description":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "DetectIsAllowedForOperationRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "operationName"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "operationName":{"shape":"OperationNameString"}
      }
    },
    "DetectIsAllowedForOperationResponse":{
      "type":"structure",
      "required":["allowed"],
      "members":{
        "allowed":{"shape":"AllowedStatus"}
      }
    },
    "DisplayName":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  　]+",
      "sensitive":true
    },
    "Document":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "DryRunOperationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Returns HTTP status code 400</p>",
      "exception":true
    },
    "Email":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  　]+",
      "sensitive":true
    },
    "EnabledState":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "ErrorReason":{
      "type":"string",
      "enum":[
        "NOT_FOUND",
        "NOT_SUBSCRIBED"
      ]
    },
    "ExecutionPlanFilter":{
      "type":"structure",
      "required":["executionPlanId"],
      "members":{
        "executionPlanId":{"shape":"UUID"}
      },
      "documentation":"<p>Filter results to jobs belonging to a specific execution plan.</p>"
    },
    "FailedUserDetails":{
      "type":"list",
      "member":{"shape":"FailedUserSummary"}
    },
    "FailedUserSummary":{
      "type":"structure",
      "members":{
        "userId":{"shape":"UserId"},
        "errorReason":{"shape":"ErrorReason"}
      }
    },
    "FamilyName":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  　]+",
      "sensitive":true
    },
    "Feedback":{
      "type":"structure",
      "members":{
        "globalFeedback":{"shape":"GlobalFeedback"},
        "chatFeedback":{"shape":"ChatFeedback"},
        "jobFeedback":{"shape":"JobFeedback"}
      },
      "union":true
    },
    "FeedbackAnswerType":{
      "type":"string",
      "enum":[
        "TEXT",
        "RATING"
      ]
    },
    "FeedbackQuestion":{
      "type":"structure",
      "members":{
        "questionId":{"shape":"UUID"},
        "questionText":{"shape":"QuestionText"},
        "answerType":{"shape":"FeedbackAnswerType"},
        "isRequired":{"shape":"Boolean"}
      }
    },
    "FeedbackQuestions":{
      "type":"list",
      "member":{"shape":"FeedbackQuestion"}
    },
    "FileAlreadyExistsException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Returns HTTP status code 409</p>",
      "exception":true
    },
    "FileMetadata":{
      "type":"structure",
      "required":["path"],
      "members":{
        "path":{"shape":"FilePath"},
        "description":{"shape":"FileMetadataDescriptionString"}
      }
    },
    "FileMetadataDescriptionString":{
      "type":"string",
      "max":4000,
      "min":1,
      "pattern":"[^@#$%^&*<>]*"
    },
    "FilePath":{
      "type":"string",
      "documentation":"<p>Complete file path including directory and filename. Accepts any valid UTF-8 string per S3 object key constraints. Max length is constrained to satisfy 1024 S3 character limit with consideration for the internal file path structure</p>",
      "max":838,
      "min":1,
      "pattern":".*[^/]"
    },
    "FileType":{
      "type":"string",
      "enum":[
        "JSON",
        "ZIP",
        "PDF",
        "HTML",
        "TXT",
        "MARKDOWN",
        "CSV",
        "PPTX",
        "XLSX",
        "OTHER"
      ]
    },
    "Float":{
      "type":"float",
      "box":true
    },
    "FocusState":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE",
        "UNKNOWN"
      ]
    },
    "FolderPath":{
      "type":"string",
      "documentation":"<p>S3 safe path with mandatory trailing slash and no leading slash</p>",
      "max":1024,
      "min":2,
      "pattern":"[^/].*/"
    },
    "Folders":{
      "type":"list",
      "member":{"shape":"FolderPath"}
    },
    "GetConnectorRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "connectorId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "connectorId":{"shape":"UUID"}
      }
    },
    "GetConnectorResponse":{
      "type":"structure",
      "members":{
        "connectorId":{"shape":"UUID"},
        "connectorName":{"shape":"NonBlankString"},
        "description":{"shape":"ConnectorDescription"},
        "userId":{"shape":"String"},
        "connectorType":{"shape":"NonBlankString"},
        "accountConnection":{"shape":"AccountConnection"},
        "connectorConfiguration":{"shape":"ConnectorConfiguration"},
        "targetRegions":{"shape":"RegionList"},
        "sourceAccount":{"shape":"AccountIdString"}
      }
    },
    "GetDashboardRequest":{
      "type":"structure",
      "required":["dashboardId"],
      "members":{
        "dashboardId":{
          "shape":"UUID",
          "documentation":"<p>Dashboard ID returned from CreateDashboard</p>"
        }
      }
    },
    "GetDashboardResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "data":{
          "shape":"Document",
          "documentation":"<p>Renderable json for dashboard</p>"
        },
        "status":{"shape":"DashboardStatus"}
      }
    },
    "GetFeedbackQuestionsRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"}
      }
    },
    "GetFeedbackQuestionsResponse":{
      "type":"structure",
      "members":{
        "questions":{"shape":"FeedbackQuestions"}
      }
    },
    "GetHitlTaskRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId",
        "taskId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "taskId":{"shape":"String"}
      }
    },
    "GetHitlTaskResponse":{
      "type":"structure",
      "members":{
        "task":{"shape":"HitlTask"}
      }
    },
    "GetJobRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "includeObjective":{
          "shape":"Boolean",
          "documentation":"<p>If set to true, the objective will be included in the response.</p>"
        }
      }
    },
    "GetJobResponse":{
      "type":"structure",
      "members":{
        "job":{"shape":"JobInfo"}
      }
    },
    "GetLoginRedirectUriRequest":{
      "type":"structure",
      "required":["callbackRedirectUri"],
      "members":{
        "callbackRedirectUri":{"shape":"Uri"},
        "state":{"shape":"State"}
      }
    },
    "GetLoginRedirectUriResponse":{
      "type":"structure",
      "required":["ssoRedirectUri"],
      "members":{
        "ssoRedirectUri":{"shape":"Uri"}
      }
    },
    "GetPlanRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "planId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "planId":{"shape":"UUID"}
      }
    },
    "GetPlanResponse":{
      "type":"structure",
      "required":["plan"],
      "members":{
        "plan":{"shape":"PlanMetadata"}
      }
    },
    "GetUserBackgroundSessionRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"}
      }
    },
    "GetUserBackgroundSessionResponse":{
      "type":"structure",
      "required":[
        "userId",
        "expiresAt"
      ],
      "members":{
        "userId":{"shape":"UserId"},
        "expiresAt":{"shape":"Timestamp"}
      }
    },
    "GetUserDetailsRequest":{
      "type":"structure",
      "required":["userId"],
      "members":{
        "userId":{"shape":"UserId"}
      }
    },
    "GetUserDetailsResponse":{
      "type":"structure",
      "required":["userDetails"],
      "members":{
        "userDetails":{"shape":"UserDetails"}
      }
    },
    "GetUserPreferencesRequest":{
      "type":"structure",
      "members":{}
    },
    "GetUserPreferencesResponse":{
      "type":"structure",
      "required":["notificationSettings"],
      "members":{
        "notificationSettings":{"shape":"NotificationSettings"}
      }
    },
    "GetWorkspaceRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{"shape":"UUID"}
      }
    },
    "GetWorkspaceResponse":{
      "type":"structure",
      "required":["workspace"],
      "members":{
        "workspace":{"shape":"Workspace"}
      }
    },
    "GivenName":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  　]+",
      "sensitive":true
    },
    "GlobalFeedback":{
      "type":"structure",
      "required":[
        "feedbackType",
        "feedback"
      ],
      "members":{
        "feedbackType":{"shape":"GlobalFeedbackType"},
        "feedback":{"shape":"TextResponse"},
        "metadata":{"shape":"GlobalFeedbackMetadata"}
      }
    },
    "GlobalFeedbackMetadata":{
      "type":"structure",
      "members":{
        "hitlTaskId":{"shape":"UUID"},
        "jobStepId":{"shape":"StepId"},
        "jobId":{"shape":"UUID"}
      }
    },
    "GlobalFeedbackType":{
      "type":"string",
      "enum":[
        "Bug",
        "Feature request",
        "Job efficacy",
        "Chat efficacy",
        "Something else"
      ]
    },
    "GroupInteractionData":{
      "type":"structure",
      "members":{
        "groupName":{"shape":"String"},
        "groupDescription":{"shape":"GroupInteractionDataGroupDescriptionString"},
        "children":{"shape":"Interactions"}
      }
    },
    "GroupInteractionDataGroupDescriptionString":{
      "type":"string",
      "max":800,
      "min":0
    },
    "HeaderKey":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "HeadersList":{
      "type":"list",
      "member":{"shape":"String"},
      "sensitive":true
    },
    "HitlTask":{
      "type":"structure",
      "required":[
        "taskId",
        "jobMetadata",
        "title",
        "uxComponentId",
        "createdAt",
        "status",
        "agentInstanceId",
        "severity",
        "taskType"
      ],
      "members":{
        "taskId":{"shape":"UUID"},
        "jobMetadata":{"shape":"JobMetadata"},
        "title":{
          "shape":"Title",
          "documentation":"<p>title to display in project plan, e.g.</p>"
        },
        "description":{"shape":"Description"},
        "uxComponentId":{"shape":"UxComponentId"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "completedAt":{"shape":"Timestamp"},
        "status":{"shape":"HitlTaskStatus"},
        "agentInstanceId":{
          "shape":"UUID",
          "documentation":"<p>AgentInstance that creates the HITL Task</p>"
        },
        "severity":{"shape":"Severity"},
        "taskType":{"shape":"HitlTaskType"},
        "blockingType":{"shape":"BlockingType"},
        "agentArtifact":{"shape":"HitlTaskArtifact"},
        "humanArtifact":{"shape":"HitlTaskArtifact"},
        "planStepId":{
          "shape":"PlanStepId",
          "documentation":"<p>jobPlanStep that HITL task is associated to</p>"
        },
        "tag":{
          "shape":"Tag",
          "documentation":"<p>Idenfitifer to chain or group different Hitl tasks together</p>"
        },
        "expiredAt":{"shape":"Timestamp"},
        "updatedBy":{"shape":"UserId"},
        "submittedBy":{"shape":"UserId"},
        "action":{"shape":"Action"},
        "category":{"shape":"Category"}
      }
    },
    "HitlTaskArtifact":{
      "type":"structure",
      "members":{
        "artifactId":{"shape":"ArtifactIdentifier"}
      }
    },
    "HitlTaskFilter":{
      "type":"structure",
      "members":{
        "taskStatuses":{"shape":"HitlTaskStatuses"},
        "blockingType":{"shape":"BlockingType"},
        "planStepId":{"shape":"PlanStepId"},
        "tag":{"shape":"Tag"},
        "categories":{"shape":"Categories"}
      }
    },
    "HitlTaskStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "AWAITING_HUMAN_INPUT",
        "IN_PROGRESS",
        "AWAITING_APPROVAL",
        "CLOSED",
        "SUBMITTED",
        "CANCELLED",
        "CLOSED_PENDING_NEXT_TASK",
        "DELIVERED"
      ]
    },
    "HitlTaskStatuses":{
      "type":"list",
      "member":{"shape":"HitlTaskStatus"}
    },
    "HitlTaskType":{
      "type":"string",
      "enum":[
        "NORMAL",
        "DASHBOARD"
      ]
    },
    "HitlTasks":{
      "type":"list",
      "member":{"shape":"HitlTask"}
    },
    "IamRoleArn":{
      "type":"string",
      "documentation":"<p>An IAM role ARN</p>",
      "max":2048,
      "min":20,
      "pattern":"arn:aws:iam::\\d{12}:role/[a-zA-Z0-9_./-]+"
    },
    "IamRoleAssignment":{
      "type":"structure",
      "required":["roleArn"],
      "members":{
        "roleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The IAM role ARN assigned to the user</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>Timestamp when the role assignment was created</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>Timestamp when the role assignment was last updated</p>"
        }
      },
      "documentation":"<p>Represents a single IAM role assignment for a user</p>"
    },
    "IamRoleAssignmentList":{
      "type":"list",
      "member":{"shape":"IamRoleAssignment"},
      "max":100,
      "min":0
    },
    "IdentityDetails":{
      "type":"structure",
      "required":[
        "instanceArn",
        "applicationArn",
        "ssoRegion"
      ],
      "members":{
        "instanceArn":{"shape":"ResourceArn"},
        "applicationArn":{"shape":"ResourceArn"},
        "ssoRegion":{"shape":"String"}
      }
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "Interaction":{
      "type":"structure",
      "members":{
        "interactionId":{"shape":"UUID"},
        "actionType":{"shape":"ActionType"},
        "target":{"shape":"Target"},
        "data":{"shape":"InteractionData"}
      }
    },
    "InteractionData":{
      "type":"structure",
      "members":{
        "selectInteractionData":{"shape":"SelectInteractionData"},
        "invokeInteractionData":{"shape":"InvokeInteractionData"},
        "groupInteractionData":{"shape":"GroupInteractionData"}
      }
    },
    "InteractionResult":{
      "type":"structure",
      "members":{
        "interactionId":{"shape":"UUID"},
        "selectedOption":{"shape":"Option"},
        "invokedStatus":{"shape":"InvokedStatus"}
      }
    },
    "InteractionResultList":{
      "type":"list",
      "member":{"shape":"InteractionResult"}
    },
    "InteractionResults":{
      "type":"structure",
      "members":{
        "interactionResults":{"shape":"InteractionResultList"},
        "interactionOriginId":{
          "shape":"UUID",
          "documentation":"<p>The origin message for which the interaction result should be stored</p>"
        }
      }
    },
    "Interactions":{
      "type":"list",
      "member":{"shape":"Interaction"}
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Returns HTTP status code 500</p>",
      "exception":true,
      "fault":true
    },
    "InvokeApi":{
      "type":"structure",
      "members":{
        "operationName":{"shape":"String"},
        "operationParams":{"shape":"Parameters"},
        "label":{"shape":"String"}
      }
    },
    "InvokeInteractionData":{
      "type":"structure",
      "members":{
        "invokeApi":{"shape":"InvokeApi"}
      }
    },
    "InvokedStatus":{
      "type":"string",
      "enum":[
        "INVOKED",
        "NOT_INVOKED"
      ]
    },
    "JobFailureReason":{
      "type":"string",
      "sensitive":true
    },
    "JobFeedback":{
      "type":"structure",
      "required":[
        "feedback",
        "metadata"
      ],
      "members":{
        "feedback":{"shape":"JobFeedbackAnswers"},
        "metadata":{"shape":"JobFeedbackMetadata"}
      }
    },
    "JobFeedbackAnswer":{
      "type":"structure",
      "required":[
        "questionId",
        "answer"
      ],
      "members":{
        "questionId":{"shape":"UUID"},
        "answer":{"shape":"JobFeedbackAnswerType"}
      }
    },
    "JobFeedbackAnswerType":{
      "type":"structure",
      "members":{
        "textResponse":{"shape":"TextResponse"},
        "ratingResponse":{"shape":"Rating"}
      },
      "union":true
    },
    "JobFeedbackAnswers":{
      "type":"list",
      "member":{"shape":"JobFeedbackAnswer"}
    },
    "JobFeedbackMetadata":{
      "type":"structure",
      "required":["jobStatus"],
      "members":{
        "hitlTaskId":{"shape":"UUID"},
        "jobStepId":{"shape":"StepId"},
        "jobId":{"shape":"UUID"},
        "jobStatus":{"shape":"JobStatus"}
      }
    },
    "JobFilter":{
      "type":"structure",
      "members":{
        "jobId":{"shape":"UUID"},
        "planStepId":{
          "shape":"String",
          "documentation":"<p>Filter by job plan step Identifier</p>"
        },
        "categoryType":{
          "shape":"CategoryType",
          "documentation":"<p>Filter by category type</p>"
        }
      },
      "documentation":"<p>Job filter options</p>"
    },
    "JobInfo":{
      "type":"structure",
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "statusDetails":{"shape":"StatusDetails"},
        "creationTime":{"shape":"Timestamp"},
        "startExecutionTime":{"shape":"Timestamp"},
        "endExecutionTime":{"shape":"Timestamp"},
        "objective":{"shape":"JobObjective"},
        "jobName":{"shape":"JobName"},
        "intent":{"shape":"String"},
        "restartable":{"shape":"Boolean"},
        "agentFeatures":{"shape":"AgentFeatures"},
        "clientSource":{"shape":"String"},
        "backgroundSessionStatus":{"shape":"BackgroundSessionStatus"},
        "executionPlanId":{
          "shape":"UUID",
          "documentation":"<p>Plan this job belongs to. Null for non-plan jobs.</p>"
        }
      }
    },
    "JobList":{
      "type":"list",
      "member":{"shape":"ListJobEntry"}
    },
    "JobMetadata":{
      "type":"structure",
      "required":[
        "jobId",
        "workspaceId"
      ],
      "members":{
        "jobId":{"shape":"UUID"},
        "workspaceId":{"shape":"UUID"}
      }
    },
    "JobName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9]+(?:[-_\\. ]+[a-zA-Z0-9]+)*",
      "sensitive":true
    },
    "JobObjective":{
      "type":"string",
      "max":600,
      "min":1,
      "sensitive":true
    },
    "JobPlanStep":{
      "type":"structure",
      "required":[
        "stepId",
        "parentStepId",
        "stepName",
        "description",
        "score"
      ],
      "members":{
        "stepId":{"shape":"StepId"},
        "parentStepId":{
          "shape":"StepId",
          "documentation":"<p>Will be set to 'root' if the entry corresponds to a top-level step.</p>"
        },
        "stepName":{"shape":"StepName"},
        "description":{"shape":"StepDescription"},
        "score":{
          "shape":"Float",
          "documentation":"<p>Generated in platform to determine ordering of steps</p>"
        },
        "startTime":{"shape":"Timestamp"},
        "endTime":{"shape":"Timestamp"},
        "status":{"shape":"PlanStepStatus"}
      }
    },
    "JobPlanSteps":{
      "type":"list",
      "member":{"shape":"JobPlanStep"}
    },
    "JobPlanUpdates":{
      "type":"list",
      "member":{"shape":"PlanStepUpdateEntry"}
    },
    "JobStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "STARTING",
        "ASSESSING",
        "PLANNING",
        "PLANNED",
        "EXECUTING",
        "AWAITING_HUMAN_INPUT",
        "COMPLETED",
        "FAILED",
        "STOPPING",
        "STOPPED"
      ]
    },
    "JobType":{
      "type":"string",
      "enum":[
        "JAVA_UPGRADE",
        "DOT_NET",
        "VMWARE",
        "MAINFRAME",
        "CX_UI_COMPONENT_TESTING",
        "MIGRATION_ASSESSMENT",
        "WINDOWS_DATABASE",
        "PROSERVE_CMF",
        "DYNAMIC_SHOWCASE",
        "MAINFRAME_MIGRATION_ACCENTURE_KB",
        "VMWARE_V2",
        "WAVE_PLANNING",
        "MAINFRAME_MODERNIZATION_ACCENTURE",
        "EXTERNAL_WAVICLE",
        "DYNAMIC_SHOWCASE_AGENTCORE_TESTING",
        "EXTERNAL_CAPGEMINI",
        "APEX_NAVI",
        "MAINFRAME_V2",
        "DOTNET_IDE",
        "EBA_ORCHESTRATION",
        "CUSTOM_TRANSFORMATION",
        "EXTERNAL_PEGA",
        "EXTERNAL_DELOITTE"
      ]
    },
    "JobTypeContext":{
      "type":"structure",
      "required":["jobType"],
      "members":{
        "jobType":{
          "shape":"String",
          "documentation":"<p>The job type to filter on; across the workspaces</p>"
        }
      }
    },
    "ListArtifactsRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobFilter":{"shape":"JobFilter"},
        "nextToken":{"shape":"String"},
        "pathPrefix":{"shape":"FolderPath"},
        "maxResults":{"shape":"ListArtifactsRequestMaxResultsInteger"}
      }
    },
    "ListArtifactsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListArtifactsResponse":{
      "type":"structure",
      "required":["artifacts"],
      "members":{
        "artifacts":{"shape":"Artifacts"},
        "nextToken":{"shape":"String"},
        "folders":{"shape":"Folders"},
        "assets":{"shape":"Assets"},
        "connectorId":{
          "shape":"UUID",
          "documentation":"<p>Unique identifier for a connector</p>"
        }
      }
    },
    "ListAvailableProfilesRequest":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"PaginationToken"},
        "maxResults":{"shape":"ListAvailableProfilesRequestMaxResultsInteger"}
      }
    },
    "ListAvailableProfilesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListAvailableProfilesResponse":{
      "type":"structure",
      "members":{
        "profiles":{"shape":"ProfileList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListConnectorsRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "requesterAgentInvocationId":{"shape":"UUID"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListConnectorsResponse":{
      "type":"structure",
      "members":{
        "connectors":{"shape":"ConnectorList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListHitlTasksRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId",
        "taskType"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "taskType":{
          "shape":"HitlTaskType",
          "documentation":"<p>Define the type of tasks returned. HITL will only return NORMAL tasks or DASHBOARD tasks</p>"
        },
        "taskFilter":{"shape":"HitlTaskFilter"},
        "nextToken":{"shape":"String"},
        "maxResults":{"shape":"ListHitlTasksRequestMaxResultsInteger"}
      }
    },
    "ListHitlTasksRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListHitlTasksResponse":{
      "type":"structure",
      "members":{
        "hitlTasks":{"shape":"HitlTasks"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListIamRoleAssignmentsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"ListIamRoleAssignmentsRequestMaxResultsInteger"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListIamRoleAssignmentsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListIamRoleAssignmentsResponse":{
      "type":"structure",
      "required":["iamRoleAssignments"],
      "members":{
        "iamRoleAssignments":{"shape":"IamRoleAssignmentList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListJobEntry":{
      "type":"structure",
      "members":{
        "jobInfo":{"shape":"JobInfo"},
        "userId":{"shape":"UserId"}
      }
    },
    "ListJobPlanStepsRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "parentStepId":{
          "shape":"StepId",
          "documentation":"<p>If not specified, we return all steps. If specified as root, we return only top-level steps. Otherwise, we return steps only under the parentId</p>"
        },
        "maxResults":{"shape":"Integer"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListJobPlanStepsResponse":{
      "type":"structure",
      "members":{
        "steps":{"shape":"JobPlanSteps"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListJobsRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "executionPlanFilter":{
          "shape":"ExecutionPlanFilter",
          "documentation":"<p>Filter results to jobs belonging to a specific execution plan.</p>"
        },
        "nextToken":{"shape":"String"}
      }
    },
    "ListJobsResponse":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"String"},
        "jobList":{"shape":"JobList"}
      }
    },
    "ListMessagesRequest":{
      "type":"structure",
      "members":{
        "startTimestamp":{"shape":"Timestamp"},
        "nextToken":{"shape":"String"},
        "maxResults":{"shape":"ListMessagesRequestMaxResultsInteger"},
        "metadata":{"shape":"Metadata"}
      }
    },
    "ListMessagesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "ListMessagesResponse":{
      "type":"structure",
      "members":{
        "messageIds":{"shape":"MessageIds"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListPlanUpdatesRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId",
        "timestamp",
        "planVersion"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "timestamp":{"shape":"Long"},
        "planVersion":{"shape":"String"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListPlanUpdatesResponse":{
      "type":"structure",
      "members":{
        "steps":{"shape":"JobPlanUpdates"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListPlansRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "status":{"shape":"PlanStatus"},
        "maxResults":{"shape":"ListPlansRequestMaxResultsInteger"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListPlansRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100
    },
    "ListPlansResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"PlanMetadataList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListSuggestionsRequest":{
      "type":"structure",
      "required":["resource"],
      "members":{
        "resource":{"shape":"SuggestionResource"},
        "metadata":{"shape":"SuggestionMetadata"},
        "limit":{"shape":"ListSuggestionsRequestLimitInteger"}
      }
    },
    "ListSuggestionsRequestLimitInteger":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "ListSuggestionsResponse":{
      "type":"structure",
      "required":["suggestions"],
      "members":{
        "suggestions":{"shape":"SuggestionList"}
      }
    },
    "ListUserRoleMappingsRequest":{
      "type":"structure",
      "required":["workspaceId"],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "maxResults":{"shape":"ListUserRoleMappingsRequestMaxResultsInteger"},
        "nextToken":{"shape":"PaginationToken"},
        "roleFilters":{
          "shape":"ListUserRoleMappingsRequestRoleFiltersList",
          "documentation":"<p>Filter results by role type. Limited to max length 5 (i.e. the number of possible role types)</p>"
        }
      }
    },
    "ListUserRoleMappingsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100
    },
    "ListUserRoleMappingsRequestRoleFiltersList":{
      "type":"list",
      "member":{"shape":"RoleName"},
      "max":5,
      "min":1
    },
    "ListUserRoleMappingsResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"UserList"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "ListWorklogsRequest":{
      "type":"structure",
      "required":[
        "workspaceId",
        "jobId"
      ],
      "members":{
        "workspaceId":{"shape":"UUID"},
        "jobId":{"shape":"UUID"},
        "worklogFilter":{"shape":"WorklogFilter"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListWorklogsResponse":{
      "type":"structure",
      "members":{
        "worklogs":{"shape":"WorklogList"},
        "outputToken":{"shape":"String"}
      }
    },
    "ListWorkspacesRequest":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"ListWorkspacesRequestMaxResultsInteger"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListWorkspacesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100
    },
    "ListWorkspacesResponse":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"WorkspaceList"},
        "nextToken":{"shape":"String"}
      }
    },
    "LoginQueryParametersMap":{
      "type":"map",
      "key":{"shape":"LoginQueryParametersMapKey"},
      "value":{"shape":"LoginQueryParametersMapValue"}
    },
    "LoginQueryParametersMapKey":{
      "type":"string",
      "sensitive":true
    },
    "LoginQueryParametersMapValue":{
      "type":"string",
      "sensitive":true
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "Message":{
      "type":"structure",
      "required":[
        "messageId",
        "messageOrigin",
        "createdAt"
      ],
      "members":{
        "messageId":{"shape":"UUID"},
        "messageOrigin":{"shape":"MessageOrigin"},
        "createdAt":{"shape":"Timestamp"},
        "text":{"shape":"MessageTextString"},
        "parentMessageId":{"shape":"UUID"},
        "interactions":{"shape":"Interactions"},
        "interactionResults":{"shape":"InteractionResults"},
        "metadata":{"shape":"Metadata"},
        "processingInfo":{"shape":"ProcessingInfo"},
        "attachments":{"shape":"Attachments"}
      }
    },
    "MessageIds":{
      "type":"list",
      "member":{"shape":"UUID"}
    },
    "MessageOrigin":{
      "type":"string",
      "enum":[
        "USER",
        "SYSTEM"
      ]
    },
    "MessageTextString":{
      "type":"string",
      "max":8000,
      "min":1,
      "sensitive":true
    },
    "MessageType":{
      "type":"string",
      "enum":[
        "THINKING",
        "FINAL_RESPONSE",
        "ERROR"
      ]
    },
    "Messages":{
      "type":"list",
[...]
