[run]
omit =
    tests/integration/*
    */test_integration.py
    */integration/test_integration.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
