{
  "metadata": {
    "apiVersion": "2024-04-15",
    "auth": [
      "aws.auth#sigv4"
    ],
    "endpointPrefix": "application-signals",
    "protocol": "rest-json",
    "protocols": [
      "rest-json"
    ],
    "serviceFullName": "Amazon CloudWatch Application Signals",
    "serviceId": "Application Signals",
    "signatureVersion": "v4",
    "signingName": "application-signals",
    "uid": "application-signals-2024-04-15"
  },
  "operations": {
    "BatchDeleteInstrumentationConfigurations": {
      "documentation": "<p>Deletes multiple instrumentation configurations in a single request. Supports two mutually exclusive modes:</p> <ul> <li>Mode 1 (Bulk by scope): Delete all configurations matching a Service + Environment + InstrumentationType</li> <li>Mode 2 (Targeted by ARN): Delete specific configurations by providing a list of resource ARNs</li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/batch-delete-instrumentation-configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteInstrumentationConfigurationsRequest"
      },
      "name": "BatchDeleteInstrumentationConfigurations",
      "output": {
        "shape": "BatchDeleteInstrumentationConfigurationsResponse"
      }
    },
    "CreateInstrumentationConfiguration": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-instrumentation-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInstrumentationConfigurationRequest"
      },
      "name": "CreateInstrumentationConfiguration",
      "output": {
        "shape": "CreateInstrumentationConfigurationResponse"
      }
    },
    "DeleteInstrumentationConfiguration": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-instrumentation-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInstrumentationConfigurationRequest"
      },
      "name": "DeleteInstrumentationConfiguration",
      "output": {
        "shape": "DeleteInstrumentationConfigurationResponse"
      }
    },
    "GetInstrumentationConfiguration": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/get-instrumentation-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetInstrumentationConfigurationRequest"
      },
      "name": "GetInstrumentationConfiguration",
      "output": {
        "shape": "GetInstrumentationConfigurationResponse"
      }
    },
    "GetInstrumentationConfigurationStatus": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/get-instrumentation-configuration-status",
        "responseCode": 200
      },
      "input": {
        "shape": "GetInstrumentationConfigurationStatusRequest"
      },
      "name": "GetInstrumentationConfigurationStatus",
      "output": {
        "shape": "GetInstrumentationConfigurationStatusResponse"
      },
      "readonly": true
    },
    "ListInstrumentationConfigurations": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-instrumentation-configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInstrumentationConfigurationsRequest"
      },
      "name": "ListInstrumentationConfigurations",
      "output": {
        "shape": "InstrumentationConfigurationsPage"
      }
    },
    "ReportInstrumentationConfigurationStatus": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/report-instrumentation-configuration-status",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "ReportInstrumentationConfigurationStatusRequest"
      },
      "name": "ReportInstrumentationConfigurationStatus",
      "output": {
        "shape": "ReportInstrumentationConfigurationStatusResponse"
      }
    }
  },
  "shapes": {
    "BatchDeleteByResourceArns": {
      "documentation": "<p>Parameters for targeted delete by ARN list (Mode 2).</p>",
      "members": {
        "InstrumentationType": {
          "documentation": "<p>Instrumentation type: BREAKPOINT or PROBE.</p>",
          "shape": "InstrumentationType"
        },
        "ResourceArns": {
          "documentation": "<p>List of resource ARNs to delete.</p>",
          "shape": "BatchDeleteByResourceArnsResourceArnsList"
        }
      },
      "required": [
        "ResourceArns",
        "InstrumentationType"
      ],
      "type": "structure"
    },
    "BatchDeleteByResourceArnsResourceArnsList": {
      "documentation": "<p>List of resource ARNs for batch delete operation (Mode 2). Maximum 50 ARNs per request.</p>",
      "max": 50,
      "member": {
        "shape": "BatchDeleteByResourceArnsResourceArnsListMemberString"
      },
      "min": 1,
      "type": "list"
    },
    "BatchDeleteByResourceArnsResourceArnsListMemberString": {
      "max": 2048,
      "min": 20,
      "type": "string"
    },
    "BatchDeleteDeletionTarget": {
      "documentation": "<p>Union type for batch delete target selection. Exactly one of the two modes must be specified.</p>",
      "members": {
        "ResourceArns": {
          "documentation": "<p>Mode 2: Delete specific configurations by ARN list.</p>",
          "shape": "BatchDeleteByResourceArns"
        },
        "Scope": {
          "documentation": "<p>Mode 1: Delete all configurations matching the specified scope.</p>",
          "shape": "BatchDeleteScope"
        }
      },
      "type": "structure",
      "union": true
    },
    "BatchDeleteError": {
      "documentation": "<p>Represents an error that occurred when attempting to delete a configuration.</p>",
      "members": {
        "Code": {
          "documentation": "<p>Error code indicating the type of failure.</p>",
          "shape": "BatchDeleteErrorCode"
        },
        "Message": {
          "documentation": "<p>Descriptive error message.</p>",
          "shape": "String"
        },
        "ResourceArn": {
          "documentation": "<p>ARN of the configuration that failed to delete.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ResourceArn",
        "Code",
        "Message"
      ],
      "type": "structure"
    },
    "BatchDeleteErrorCode": {
      "documentation": "<p>Error codes for batch delete item-level failures.</p>",
      "enum": [
        "ResourceNotFoundException",
        "AccessDeniedException",
        "InternalServiceException"
      ],
      "type": "string"
    },
    "BatchDeleteErrorList": {
      "documentation": "<p>List of errors in batch delete response.</p>",
      "member": {
        "shape": "BatchDeleteError"
      },
      "type": "list"
    },
    "BatchDeleteInstrumentationConfigurationsRequest": {
      "members": {
        "DeletionTarget": {
          "documentation": "<p>The deletion target - either bulk by scope or targeted by ARN list.</p>",
          "shape": "BatchDeleteDeletionTarget"
        }
      },
      "required": [
        "DeletionTarget"
      ],
      "type": "structure"
    },
    "BatchDeleteInstrumentationConfigurationsResponse": {
      "members": {
        "DeletedCount": {
          "documentation": "<p>Number of configurations successfully deleted. For Mode 1 (scope), this is the total count of deleted items. For Mode 2 (ARN list), this equals the length of SuccessfulDeletions.</p>",
          "shape": "Integer"
        },
        "Errors": {
          "documentation": "<p>List of configurations that failed to delete.</p>",
          "shape": "BatchDeleteErrorList"
        },
        "SuccessfulDeletions": {
          "documentation": "<p>List of successfully deleted configurations. Mode 1 populates SignalType and LocationHash per item. Mode 2 populates ResourceArn per item.</p>",
          "shape": "BatchDeleteSuccessfulDeletionList"
        }
      },
      "required": [
        "DeletedCount",
        "SuccessfulDeletions",
        "Errors"
      ],
      "type": "structure"
    },
    "BatchDeleteScope": {
      "documentation": "<p>Scope parameters for bulk delete (Mode 1).</p>",
      "members": {
        "Environment": {
          "documentation": "<p>Environment identifier for the instrumentation configurations.</p>",
          "shape": "BatchDeleteScopeEnvironmentString"
        },
        "InstrumentationType": {
          "documentation": "<p>Instrumentation type: BREAKPOINT or PROBE.</p>",
          "shape": "InstrumentationType"
        },
        "Service": {
          "documentation": "<p>Service name for the instrumentation configurations.</p>",
          "shape": "BatchDeleteScopeServiceString"
        }
      },
      "required": [
        "Service",
        "Environment",
        "InstrumentationType"
      ],
      "type": "structure"
    },
    "BatchDeleteScopeEnvironmentString": {
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9:/+=,.@_-]+",
      "type": "string"
    },
    "BatchDeleteScopeServiceString": {
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9:/+=,.@_-]+",
      "type": "string"
    },
    "BatchDeleteSuccessfulDeletion": {
      "documentation": "<p>Represents a successfully deleted instrumentation configuration.</p>",
      "members": {
        "LocationHash": {
          "documentation": "<p>Location hash of the deleted configuration (populated for Mode 1 only).</p>",
          "shape": "String"
        },
        "ResourceArn": {
          "documentation": "<p>ARN of the deleted configuration (populated for Mode 2 only).</p>",
          "shape": "String"
        },
        "SignalType": {
          "documentation": "<p>Signal type of the deleted configuration (populated for Mode 1 only).</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BatchDeleteSuccessfulDeletionList": {
      "documentation": "<p>List of successful deletions in batch delete response.</p>",
      "member": {
        "shape": "BatchDeleteSuccessfulDeletion"
      },
      "type": "list"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CaptureConfiguration": {
      "members": {
        "CodeCapture": {
          "shape": "CodeCaptureConfiguration"
        }
      },
      "type": "structure",
      "union": true
    },
    "CaptureLimitsConfig": {
      "members": {
        "MaxCollectionDepth": {
          "shape": "CaptureLimitsConfigMaxCollectionDepthInteger"
        },
        "MaxCollectionWidth": {
          "shape": "CaptureLimitsConfigMaxCollectionWidthInteger"
        },
        "MaxFieldsPerObject": {
          "shape": "CaptureLimitsConfigMaxFieldsPerObjectInteger"
        },
        "MaxHits": {
          "shape": "CaptureLimitsConfigMaxHitsInteger"
        },
        "MaxObjectDepth": {
          "shape": "CaptureLimitsConfigMaxObjectDepthInteger"
        },
        "MaxStackFrames": {
          "shape": "CaptureLimitsConfigMaxStackFramesInteger"
        },
        "MaxStackTraceSize": {
          "shape": "CaptureLimitsConfigMaxStackTraceSizeInteger"
        },
        "MaxStringLength": {
          "shape": "CaptureLimitsConfigMaxStringLengthInteger"
        }
      },
      "type": "structure"
    },
    "CaptureLimitsConfigMaxCollectionDepthInteger": {
      "box": true,
      "max": 5,
      "min": 1,
      "type": "integer"
    },
    "CaptureLimitsConfigMaxCollectionWidthInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "CaptureLimitsConfigMaxFieldsPerObjectInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "CaptureLimitsConfigMaxHitsInteger": {
      "box": true,
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "CaptureLimitsConfigMaxObjectDepthInteger": {
      "box": true,
      "max": 5,
      "min": 1,
      "type": "integer"
    },
    "CaptureLimitsConfigMaxStackFramesInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "CaptureLimitsConfigMaxStackTraceSizeInteger": {
      "box": true,
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "CaptureLimitsConfigMaxStringLengthInteger": {
      "box": true,
      "max": 255,
      "min": 1,
      "type": "integer"
    },
    "CodeCaptureConfiguration": {
      "members": {
        "CaptureArguments": {
          "shape": "CodeCaptureConfigurationCaptureArgumentsList"
        },
        "CaptureLimits": {
          "shape": "CaptureLimitsConfig"
        },
        "CaptureLocals": {
          "shape": "CodeCaptureConfigurationCaptureLocalsList"
        },
        "CaptureReturn": {
          "shape": "Boolean"
        },
        "CaptureStackTrace": {
          "shape": "Boolean"
        }
      },
      "required": [
        "CaptureLimits"
      ],
      "type": "structure"
    },
    "CodeCaptureConfigurationCaptureArgumentsList": {
      "max": 10,
      "member": {
        "shape": "CodeCaptureConfigurationCaptureArgumentsListMemberString"
      },
      "min": 0,
      "type": "list"
    },
    "CodeCaptureConfigurationCaptureArgumentsListMemberString": {
      "max": 80,
      "min": 1,
      "type": "string"
    },
    "CodeCaptureConfigurationCaptureLocalsList": {
      "max": 20,
      "member": {
        "shape": "CodeCaptureConfigurationCaptureLocalsListMemberString"
      },
      "min": 0,
      "type": "list"
    },
    "CodeCaptureConfigurationCaptureLocalsListMemberString": {
      "max": 80,
      "min": 1,
      "type": "string"
    },
    "CodeLocation": {
      "members": {
        "ClassName": {
          "shape": "CodeLocationClassNameString"
        },
        "CodeUnit": {
          "shape": "CodeLocationCodeUnitString"
        },
        "FilePath": {
          "shape": "CodeLocationFilePathString"
        },
        "Language": {
          "shape": "ProgrammingLanguage"
        },
        "LineNumber": {
          "shape": "CodeLocationLineNumberInteger"
        },
        "MethodName": {
          "shape": "CodeLocationMethodNameString"
        }
      },
      "required": [
        "Language",
        "FilePath"
      ],
      "type": "structure"
    },
    "CodeLocationClassNameString": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "CodeLocationCodeUnitString": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "CodeLocationFilePathString": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "CodeLocationLineNumberInteger": {
      "box": true,
      "min": 1,
      "type": "integer"
    },
    "CodeLocationMethodNameString": {
      "max": 80,
      "min": 1,
      "type": "string"
    },
    "ConflictException": {
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "CreateInstrumentationConfigurationRequest": {
      "members": {
        "AttributeFilters": {
          "shape": "DynamicInstrumentationAttributeFilters"
        },
        "CaptureConfiguration": {
          "shape": "CaptureConfiguration"
        },
        "Description": {
          "shape": "CreateInstrumentationConfigurationRequestDescriptionString"
        },
        "Environment": {
          "shape": "CreateInstrumentationConfigurationRequestEnvironmentString"
        },
        "ExpiresAt": {
          "documentation": "<p>For BREAKPOINT: optional, defaults to 24 hours, must be between 5 min and 24 hours For PROBE: optional, can be set for auto-cleanup or left null for permanent</p>",
          "shape": "Timestamp"
        },
        "InstrumentationType": {
          "documentation": "<p>Type of instrumentation: BREAKPOINT (temporary) or PROBE (permanent)</p>",
          "shape": "InstrumentationType"
        },
        "Location": {
          "shape": "Location"
        },
        "Service": {
          "shape": "CreateInstrumentationConfigurationRequestServiceString"
        },
        "SignalType": {
          "shape": "DynamicInstrumentationSignalType"
        },
        "Tags": {
          "shape": "TagList"
        }
      },
      "required": [
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "CaptureConfiguration"
      ],
      "type": "structure"
    },
    "CreateInstrumentationConfigurationRequestDescriptionString": {
      "max": 50,
      "min": 1,
      "type": "string"
    },
    "CreateInstrumentationConfigurationRequestEnvironmentString": {
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9:/+=,.@_-]+",
      "type": "string"
    },
    "CreateInstrumentationConfigurationRequestServiceString": {
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9:/+=,.@_-]+",
      "type": "string"
    },
    "CreateInstrumentationConfigurationResponse": {
      "members": {
        "ARN": {
          "documentation": "<p>ARN for the created instrumentation configuration</p>",
          "shape": "InstrumentationConfigurationArn"
        },
        "AttributeFilters": {
          "shape": "DynamicInstrumentationAttributeFilters"
        },
        "CaptureConfiguration": {
          "shape": "CaptureConfiguration"
        },
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "Description": {
          "shape": "String"
        },
        "Environment": {
          "shape": "CreateInstrumentationConfigurationResponseEnvironmentString"
        },
        "ExpiresAt": {
          "shape": "Timestamp"
        },
        "InstrumentationType": {
          "shape": "InstrumentationType"
        },
        "Location": {
          "shape": "Location"
        },
        "LocationHash": {
          "shape": "CreateInstrumentationConfigurationResponseLocationHashString"
        },
        "Service": {
          "shape": "CreateInstrumentationConfigurationResponseServiceString"
        },
        "SignalType": {
          "shape": "DynamicInstrumentationSignalType"
        }
      },
      "required": [
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "LocationHash",
        "CaptureConfiguration",
        "CreatedAt",
        "ARN"
      ],
      "type": "structure"
    },
    "CreateInstrumentationConfigurationResponseEnvironmentString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "CreateInstrumentationConfigurationResponseLocationHashString": {
      "max": 16,
      "min": 16,
      "type": "string"
    },
    "CreateInstrumentationConfigurationResponseServiceString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "DeleteInstrumentationConfigurationRequest": {
      "members": {
        "Environment": {
          "documentation": "<p>Environment name for the instrumentation configuration.</p>",
          "shape": "DeleteInstrumentationConfigurationRequestEnvironmentString"
        },
        "InstrumentationType": {
          "documentation": "<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to determine which table to delete from.</p>",
          "shape": "InstrumentationType"
        },
        "LocationIdentifier": {
          "documentation": "<p>Location identifier - either full code/watcher location or a pre-computed hash.</p>",
          "shape": "LocationIdentifier"
        },
        "Service": {
          "documentation": "<p>Service name for the instrumentation configuration.</p>",
          "shape": "DeleteInstrumentationConfigurationRequestServiceString"
        },
        "SignalType": {
          "documentation": "<p>Signal type for the instrumentation configuration.</p>",
          "shape": "DynamicInstrumentationSignalType"
        }
      },
      "required": [
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "LocationIdentifier"
      ],
      "type": "structure"
    },
    "DeleteInstrumentationConfigurationRequestEnvironmentString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "DeleteInstrumentationConfigurationRequestServiceString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "DeleteInstrumentationConfigurationResponse": {
      "members": {
        "DeletionStatus": {
          "shape": "DynamicInstrumentationDeletionStatus"
        }
      },
      "required": [
        "DeletionStatus"
      ],
      "type": "structure"
    },
    "DynamicInstrumentationAttributeFilterGroup": {
      "key": {
        "shape": "DynamicInstrumentationAttributeFilterGroupKeyString"
      },
      "type": "map",
      "value": {
        "shape": "DynamicInstrumentationAttributeFilterGroupValueString"
      }
    },
    "DynamicInstrumentationAttributeFilterGroupKeyString": {
      "max": 50,
      "min": 1,
      "type": "string"
    },
    "DynamicInstrumentationAttributeFilterGroupValueString": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "DynamicInstrumentationAttributeFilters": {
      "max": 10,
      "member": {
        "shape": "DynamicInstrumentationAttributeFilterGroup"
      },
      "min": 1,
      "type": "list"
    },
    "DynamicInstrumentationDeletionStatus": {
      "enum": [
        "DELETED"
      ],
      "type": "string"
    },
    "DynamicInstrumentationSignalType": {
      "enum": [
        "SNAPSHOT",
        "METRIC"
      ],
      "type": "string"
    },
    "FaultDescription": {
      "type": "string"
    },
    "GetInstrumentationConfigurationRequest": {
      "members": {
        "Environment": {
          "documentation": "<p>Environment name for the instrumentation configuration.</p>",
          "shape": "GetInstrumentationConfigurationRequestEnvironmentString"
        },
        "InstrumentationType": {
          "documentation": "<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to determine which table to query.</p>",
          "shape": "InstrumentationType"
        },
        "LocationIdentifier": {
          "documentation": "<p>Location identifier - either full code/watcher location or a pre-computed hash.</p>",
          "shape": "LocationIdentifier"
        },
        "Service": {
          "documentation": "<p>Service name for the instrumentation configuration.</p>",
          "shape": "GetInstrumentationConfigurationRequestServiceString"
        },
        "SignalType": {
          "documentation": "<p>Signal type for the instrumentation configuration.</p>",
          "shape": "DynamicInstrumentationSignalType"
        }
      },
      "required": [
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "LocationIdentifier"
      ],
      "type": "structure"
    },
    "GetInstrumentationConfigurationRequestEnvironmentString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "GetInstrumentationConfigurationRequestServiceString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "GetInstrumentationConfigurationResponse": {
      "members": {
        "Configuration": {
          "shape": "InstrumentationConfiguration"
        }
      },
      "required": [
        "Configuration"
      ],
      "type": "structure"
    },
    "GetInstrumentationConfigurationStatusRequest": {
      "members": {
        "EndTime": {
          "shape": "Timestamp"
        },
        "Environment": {
          "documentation": "<p>Environment name for the instrumentation configuration.</p>",
          "shape": "GetInstrumentationConfigurationStatusRequestEnvironmentString"
        },
        "InstrumentationType": {
          "documentation": "<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to determine which table to query.</p>",
          "shape": "InstrumentationType"
        },
        "LocationIdentifier": {
          "documentation": "<p>Location identifier - either full code/watcher location or a pre-computed hash.</p>",
          "shape": "LocationIdentifier"
        },
        "MaxResults": {
          "shape": "GetInstrumentationConfigurationStatusRequestMaxResultsInteger"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "Service": {
          "documentation": "<p>Service name for the instrumentation configuration.</p>",
          "shape": "GetInstrumentationConfigurationStatusRequestServiceString"
        },
        "SignalType": {
          "documentation": "<p>Signal type for the instrumentation configuration.</p>",
          "shape": "DynamicInstrumentationSignalType"
        },
        "StartTime": {
          "shape": "Timestamp"
        },
        "Status": {
          "shape": "InstrumentationConfigurationStatus"
        }
      },
      "required": [
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "LocationIdentifier"
      ],
      "type": "structure"
    },
    "GetInstrumentationConfigurationStatusRequestEnvironmentString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "GetInstrumentationConfigurationStatusRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "GetInstrumentationConfigurationStatusRequestServiceString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "GetInstrumentationConfigurationStatusResponse": {
      "members": {
        "Environment": {
          "shape": "GetInstrumentationConfigurationStatusResponseEnvironmentString"
        },
        "Events": {
          "shape": "InstrumentationStatusEventList"
        },
        "Location": {
          "shape": "Location"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "Service": {
          "shape": "GetInstrumentationConfigurationStatusResponseServiceString"
        },
        "SignalType": {
          "shape": "DynamicInstrumentationSignalType"
        },
        "Status": {
          "shape": "InstrumentationConfigurationStatus"
        }
      },
      "required": [
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "Status",
        "Events"
      ],
      "type": "structure"
    },
    "GetInstrumentationConfigurationStatusResponseEnvironmentString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "GetInstrumentationConfigurationStatusResponseServiceString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "InstrumentationConfiguration": {
      "members": {
        "ARN": {
          "documentation": "<p>ARN for the instrumentation configuration</p>",
          "shape": "InstrumentationConfigurationArn"
        },
        "AttributeFilters": {
          "shape": "DynamicInstrumentationAttributeFilters"
        },
        "CaptureConfiguration": {
          "shape": "CaptureConfiguration"
        },
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "Description": {
          "shape": "InstrumentationConfigurationDescriptionString"
        },
        "Environment": {
          "shape": "InstrumentationConfigurationEnvironmentString"
        },
        "ExpiresAt": {
          "shape": "Timestamp"
        },
        "InstrumentationType": {
          "shape": "InstrumentationType"
        },
        "Location": {
          "shape": "Location"
        },
        "LocationHash": {
          "shape": "InstrumentationConfigurationLocationHashString"
        },
        "Service": {
          "shape": "InstrumentationConfigurationServiceString"
        },
        "SignalType": {
          "shape": "DynamicInstrumentationSignalType"
        }
      },
      "required": [
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "LocationHash",
        "CaptureConfiguration",
        "CreatedAt",
        "ARN"
      ],
      "type": "structure"
    },
    "InstrumentationConfigurationArn": {
      "documentation": "<p>ARN for an instrumentation configuration Format: arn:${Partition}:application-signals:${Region}:${Account}:instrumentationConfig/${service}/${environment}/${signalType}/${locationHash} Note: service and environment can contain '/' and ':', so we use a permissive pattern that only validates the ARN prefix structure and the 16-character lowercase hex locationHash suffix (generated by LocationHashUtil &quot;%016x&quot;).</p>",
      "pattern": "arn:[^:]+:application-signals:[^:]+:[0-9]{12}:instrumentationConfig/.+/[0-9a-f]{16}",
      "type": "string"
    },
    "InstrumentationConfigurationDescriptionString": {
      "max": 50,
      "min": 1,
      "type": "string"
    },
    "InstrumentationConfigurationEnvironmentString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "InstrumentationConfigurationLocationHashString": {
      "max": 16,
      "min": 16,
      "type": "string"
    },
    "InstrumentationConfigurationServiceString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "InstrumentationConfigurationStatus": {
      "enum": [
        "READY",
        "ERROR",
        "ACTIVE",
        "DISABLED"
      ],
      "type": "string"
    },
    "InstrumentationConfigurationStatusReport": {
      "members": {
        "ErrorCause": {
          "shape": "InstrumentationErrorCause"
        },
        "InstrumentationType": {
          "shape": "InstrumentationType"
        },
        "LocationHash": {
          "shape": "InstrumentationConfigurationStatusReportLocationHashString"
        },
        "SignalType": {
          "shape": "DynamicInstrumentationSignalType"
        },
        "Status": {
          "shape": "InstrumentationConfigurationStatus"
        },
        "Time": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "InstrumentationType",
        "SignalType",
        "LocationHash",
        "Status",
        "Time"
      ],
      "type": "structure"
    },
    "InstrumentationConfigurationStatusReportLocationHashString": {
      "max": 16,
      "min": 16,
      "type": "string"
    },
    "InstrumentationConfigurationWithoutServiceEnv": {
      "members": {
        "ARN": {
          "documentation": "<p>ARN for the instrumentation configuration</p>",
          "shape": "InstrumentationConfigurationArn"
        },
        "AttributeFilters": {
          "shape": "DynamicInstrumentationAttributeFilters"
        },
        "CaptureConfiguration": {
          "shape": "CaptureConfiguration"
        },
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "Description": {
          "shape": "InstrumentationConfigurationWithoutServiceEnvDescriptionString"
        },
        "ExpiresAt": {
          "shape": "Timestamp"
        },
        "InstrumentationType": {
          "shape": "InstrumentationType"
        },
        "Location": {
          "shape": "Location"
        },
        "LocationHash": {
          "shape": "InstrumentationConfigurationWithoutServiceEnvLocationHashString"
        },
        "SignalType": {
          "shape": "DynamicInstrumentationSignalType"
        }
      },
      "required": [
        "InstrumentationType",
        "SignalType",
        "Location",
        "LocationHash",
        "CaptureConfiguration",
        "CreatedAt",
        "ARN"
      ],
      "type": "structure"
    },
    "InstrumentationConfigurationWithoutServiceEnvDescriptionString": {
      "max": 50,
      "min": 1,
      "type": "string"
    },
    "InstrumentationConfigurationWithoutServiceEnvLocationHashString": {
      "max": 16,
      "min": 16,
      "type": "string"
    },
    "InstrumentationConfigurationsPage": {
      "members": {
        "Changed": {
          "shape": "Boolean"
        },
        "Environment": {
          "shape": "InstrumentationConfigurationsPageEnvironmentString"
        },
        "LatestConfigurations": {
          "shape": "InstrumentationConfigurationsWithoutServiceEnv"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "Service": {
          "shape": "InstrumentationConfigurationsPageServiceString"
        },
        "SyncInterval": {
          "shape": "InstrumentationConfigurationsPageSyncIntervalInteger"
        },
        "SyncedAt": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "Service",
        "Environment",
        "Changed",
        "SyncedAt",
        "SyncInterval"
      ],
      "type": "structure"
    },
    "InstrumentationConfigurationsPageEnvironmentString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "InstrumentationConfigurationsPageServiceString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "InstrumentationConfigurationsPageSyncIntervalInteger": {
      "box": true,
      "min": 60,
      "type": "integer"
    },
    "InstrumentationConfigurationsWithoutServiceEnv": {
      "member": {
        "shape": "InstrumentationConfigurationWithoutServiceEnv"
      },
      "type": "list"
    },
    "InstrumentationErrorCause": {
      "enum": [
        "FILE_NOT_FOUND",
        "METHOD_NOT_FOUND",
        "LINE_NOT_EXECUTABLE",
        "OVERLOADED_METHODS",
        "LANGUAGE_MISMATCH",
        "RUNTIME_ERROR"
      ],
      "type": "string"
    },
    "InstrumentationStatusEvent": {
      "members": {
        "ErrorCause": {
          "shape": "InstrumentationErrorCause"
        },
        "Time": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "Time"
      ],
      "type": "structure"
    },
    "InstrumentationStatusEventList": {
      "member": {
        "shape": "InstrumentationStatusEvent"
      },
      "type": "list"
    },
    "InstrumentationType": {
      "documentation": "<p>Type of instrumentation configuration</p>",
      "enum": [
        "BREAKPOINT",
        "PROBE"
      ],
      "type": "string"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "ListInstrumentationConfigurationsRequest": {
      "members": {
        "Environment": {
          "shape": "ListInstrumentationConfigurationsRequestEnvironmentString"
        },
        "InstrumentationType": {
          "documentation": "<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to determine which backing store to query.</p>",
          "shape": "InstrumentationType"
        },
        "MaxResults": {
          "shape": "ListInstrumentationConfigurationsRequestMaxResultsInteger"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "Service": {
          "shape": "ListInstrumentationConfigurationsRequestServiceString"
        },
        "SyncedAt": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "Service",
        "Environment",
        "InstrumentationType"
      ],
      "type": "structure"
    },
    "ListInstrumentationConfigurationsRequestEnvironmentString": {
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9:/+=,.@_-]+",
      "type": "string"
    },
    "ListInstrumentationConfigurationsRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListInstrumentationConfigurationsRequestServiceString": {
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9:/+=,.@_-]+",
      "type": "string"
    },
    "Location": {
      "members": {
        "CodeLocation": {
          "shape": "CodeLocation"
        }
      },
      "type": "structure",
      "union": true
    },
    "LocationIdentifier": {
      "documentation": "<p>Union type for identifying an instrumentation configuration by code location or locationHash. Used in Get/Delete/GetStatus operations to allow flexible identification.</p>",
      "members": {
        "CodeLocation": {
          "documentation": "<p>The full code location specification (will be hashed internally)</p>",
          "shape": "CodeLocation"
        },
        "LocationHash": {
          "documentation": "<p>The pre-computed location hash (16-character hex string)</p>",
          "shape": "LocationIdentifierLocationHashString"
        }
      },
      "type": "structure",
      "union": true
    },
    "LocationIdentifierLocationHashString": {
      "max": 16,
      "min": 16,
      "type": "string"
    },
    "NextToken": {
      "type": "string"
    },
    "ProgrammingLanguage": {
      "enum": [
        "Java",
        "Python",
        "Javascript"
      ],
      "type": "string"
    },
    "ReportInstrumentationConfigurationStatusRequest": {
      "members": {
        "Configurations": {
          "shape": "ReportInstrumentationConfigurationStatusRequestConfigurationsList"
        },
        "Environment": {
          "shape": "ReportInstrumentationConfigurationStatusRequestEnvironmentString"
        },
        "Service": {
          "shape": "ReportInstrumentationConfigurationStatusRequestServiceString"
        }
      },
      "required": [
        "Service",
        "Environment",
        "Configurations"
      ],
      "type": "structure"
    },
    "ReportInstrumentationConfigurationStatusRequestConfigurationsList": {
      "max": 100,
      "member": {
        "shape": "InstrumentationConfigurationStatusReport"
      },
      "min": 1,
      "type": "list"
    },
    "ReportInstrumentationConfigurationStatusRequestEnvironmentString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "ReportInstrumentationConfigurationStatusRequestServiceString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "ReportInstrumentationConfigurationStatusResponse": {
      "members": {
        "Environment": {
          "shape": "ReportInstrumentationConfigurationStatusResponseEnvironmentString"
        },
        "Service": {
          "shape": "ReportInstrumentationConfigurationStatusResponseServiceString"
        },
        "UnprocessedStatusEvents": {
          "shape": "UnprocessedStatusEventList"
        }
      },
      "required": [
        "Service",
        "Environment",
        "UnprocessedStatusEvents"
      ],
      "type": "structure"
    },
    "ReportInstrumentationConfigurationStatusResponseEnvironmentString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "ReportInstrumentationConfigurationStatusResponseServiceString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "ResourceId": {
      "type": "string"
    },
    "ResourceNotFoundException": {
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "FaultDescription"
        },
        "ResourceId": {
          "shape": "ResourceId"
        },
        "ResourceType": {
          "shape": "ResourceType"
        }
      },
      "required": [
        "ResourceType",
        "ResourceId",
        "Message"
      ],
      "type": "structure"
    },
    "ResourceType": {
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "Tag": {
      "members": {
        "Key": {
          "shape": "TagKey"
        },
        "Value": {
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagList": {
      "max": 200,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "ThrottlingException": {
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "UnprocessedStatusEvent": {
      "members": {
        "FailedReason": {
          "shape": "UnprocessedStatusEventFailureReason"
        },
        "InstrumentationType": {
          "shape": "InstrumentationType"
        },
        "LocationHash": {
          "shape": "UnprocessedStatusEventLocationHashString"
        },
        "SignalType": {
          "shape": "DynamicInstrumentationSignalType"
        },
        "Status": {
          "shape": "InstrumentationConfigurationStatus"
        },
        "Time": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "InstrumentationType",
        "SignalType",
        "LocationHash",
        "Status",
        "Time",
        "FailedReason"
      ],
      "type": "structure"
    },
    "UnprocessedStatusEventFailureReason": {
      "enum": [
        "THROTTLED",
        "INTERNAL_ERROR",
        "VALIDATION_ERROR"
      ],
      "type": "string"
    },
    "UnprocessedStatusEventList": {
      "member": {
        "shape": "UnprocessedStatusEvent"
      },
      "type": "list"
    },
    "UnprocessedStatusEventLocationHashString": {
      "max": 16,
      "min": 16,
      "type": "string"
    },
    "ValidationException": {
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ValidationExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ValidationExceptionMessage": {
      "type": "string"
    }
  },
  "version": "2.0"
}
