name: Claude
on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["feat/claude-code-review"]
  workflow_dispatch:
permissions: {}
env:
  IS_THERE_AN_AWS_ROLE_ARN_TO_ASSUME: ${{ secrets.AWS_ROLE_ARN_TO_ASSUME != '' }}
jobs:
  claude:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      GH_TOKEN: ${{ github.token }}
      GITHUB_PERSONAL_ACCESS_TOKEN: ${{ github.token }}
      AWS_REGION: ${{ vars.AWS_REGION || 'us-west-2' }}
      CLAUDE_CODE_USE_BEDROCK: 1
      ANTHROPIC_MODEL: us.anthropic.claude-3-7-sonnet-20250219-v1:0
      DISABLE_PROMPT_CACHING: 1
    steps:
      # - name: Debug OIDC Claims
      #   uses: github/actions-oidc-debugger@9ccea9c81a54e227c2671097a854c51adf03e3a8 #v1
      #   with:
      #     audience: '${{ github.server_url }}/${{ github.repository_owner }}'
      - id: setup-aws-credentials
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722
        if: ${{ env.IS_THERE_AN_AWS_ROLE_ARN_TO_ASSUME == 'true' && env.AWS_REGION }}
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}
          role-duration-seconds: 7200
          role-session-name: GitHubActions${{ github.run_id }}
          mask-aws-account-id: true
      - run: |
          cat <<EOT |
          {
            "name": "automated-code-review",
            "version": "0.0.0",
            "lockfileVersion": 3,
            "packages": {}
          }
          EOT
            > package-lock.json
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "22.x"
          cache: npm
      - run: |
          npm install -g @anthropic-ai/claude-code --force --no-os-check
          claude --version
          claude config set hasTrustDialogAccepted true
          claude mcp add-json --scope "project" "github" '{"type":"stdio","command":"docker","args":["run","--rm","--interactive","--env","GITHUB_PERSONAL_ACCESS_TOKEN","ghcr.io/github/github-mcp-server"],"env":{"GITHUB_PERSONAL_ACCESS_TOKEN":"${{ secrets.GITHUB_TOKEN }}"}}'
          claude config list --global
          claude config list
          claude mcp list
          echo "Please use the 'github' MCP server to list the open PRs for the awslabs/mcp repository that are ready for review" | claude --allowedTools "mcp__github__list_pull_requests" --print --debug --output-format text